<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
          Player Balances
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          Courtesy of the ALA Treasury Dept.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<balances class="col-xs-9 col-md-10 text-center"> <a href="https://docs.google.com/spreadsheets/d/1OkUo1wnhW_qdpAVuGb_QNHtnORw6CqxGDq8oygtHUcE/edit?usp=sharing" target="_blank">Click here to view current ALA player balances.</a></balances>

<playersIntro class="col-xs-9 col-md-10">
  <p>
    ALA extends lines of credit and maintains debit balances for trusted and frequent entrants. This data is hosted online so that entrants can look up their balances at any time without needing to email the Commish with an inquiry.
  </p>
  <p>
    The spreadsheet linked to above contains all current balances, with separate tabs for each entrant. Please note that though all efforts will be made to keep this completely up to date, there may be a slight delay at the conclusion of a sports season when there are hundreds of balances to reconcile. To get a sense of whether your balance is up to date, simply look at the most recent entry in your personal tab. If the most recent games you have played in are accounted for, your balance is current.
  </p>
</playersIntro>
