<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-database" aria-hidden="true"></i>
          Universal Career Data
          <i class="fa fa-database" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          16 years. 100+ games. 847 entrants. $115,801 in prizes. All here.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<playersIntro class="col-xs-9 col-md-10">
  <p>
    For the first time ever, all-time entrant data encompassing every A Level Above game in the organization's fifteen-year history has been compiled. For each of the 730+ entrants that have ever played in an ALA game, career data includes Total Entries, Championships, Top-3 Finishes, Buy-ins, Prizes, and Net Profits, along with more detailed rankings for all thirteen individual ALA games. Entrants are ranked by total prizes won in their ALA careers, and data will be updated upon the completion of every ALA game.
  </p>
  <p>
    As is always the case: <b>it's extremely difficult to maneuver through embedded Google Docs workboooks due to a loss of core functionality </b> (such as frozen rows/columns), <b>so the best way to view this workbook is to <a href="https://docs.google.com/spreadsheets/d/1Qz0f19dj9Jg_qY7fICYqDsD-vI3E6porLHZed-c8pW8/edit?usp=sharing" target="_blank">click here</a> and open it in its own window</b>.
  </p>
</playersIntro>

<div class="col-xs-9 col-md-10">
  <iframe height="800" width="97%" style="margin-left: 1%" src="https://docs.google.com/spreadsheets/d/1Qz0f19dj9Jg_qY7fICYqDsD-vI3E6porLHZed-c8pW8/pubhtml?widget=true&amp;headers=false"></iframe>
</div>
