<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-database" aria-hidden="true"></i>
          Universal Career Data
          <i class="fa fa-database" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          15 years. 100+ games. 730+ entrants. $125,000+ in prizes. All here.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<playersIntro class="col-xs-9 col-md-10">
  <p>
    For the first time ever, all-time player data encompassing every A Level Above game in the organization's storied history has been compiled. Within the Google Docs workbook below
  </p>
</playersIntro>
