<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          Title Holders
          <i class="fa fa-trophy" aria-hidden="true"></i>
        </p>
        <p class="career-subhead">
          Bragging rights are theirs.
        </p>
        <p class="career-subtext">
          <i>(chronologically ordered by event start date)</i>
        </p>
      </div>
      <hr class="col-xs-4 col-xs-offset-4" style="margin-top: 0%">
    </div>
  </blog>
</careerData>

<podium class="col-xs-9 col-md-10">
  <div class="title-year">
    - 2021 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions21" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2020 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions20" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2019 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions19" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2018 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions18" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2017 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions17" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2016 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions16" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary" ng-bind-html="records.summary | rawHtml"> </team>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="title-year">
    - 2015 -
  </div>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Prize </th>
        <th class="text-center podium"> Summary </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.champions15" class="podium">
        <td class="text-center podium table-pad">
          <team class="game-name"> {{records.game}} </team>
        </td>
        <td class="text-center table-pad">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.prize}}</team>
        </td>
        <td class="podium table-pad">
          <team class="champ-summary"> {{records.summary}}</team>
        </td>
      </tr>
    </tbody>
  </table>
</podium>
