<careerData class="col-xs-9 col-md-10" ng-init="vm.pullCareerData()">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-star" aria-hidden="true"></i>
          All-Time Leaders
          <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          Legends of A Level Above.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<playersIntro class="col-xs-9 col-md-10">
  <p>
    Below you will find ALA's all-time leaders in five career-spanning categories. This data is sourced from ALA's <b><a href="https://docs.google.com/spreadsheets/d/1Qz0f19dj9Jg_qY7fICYqDsD-vI3E6porLHZed-c8pW8/edit?usp=sharing" target="_blank">Universal Career Data</a></b> and is accurate through February 2022.
  </p>
</playersIntro>

<podium class="col-xs-9 col-md-10">
  <league class="col-xs-12 text-center" id="totalNetProfits">
    Total Net Profits
  </league>
  <div class="row">
    <div class="col-xs-12 hof-table-wrapper">
      <table class="hof-table col-xs-12">
        <thead>
          <tr>
            <th class="text-center podium"> Rank </th>
            <th class="text-center podium"> Entrant </th>
            <th class="text-center podium"> Entries </th>
            <th class="text-center podium"> Buy-ins </th>
            <th class="text-center podium"> Prizes </th>
            <th class="text-center podium"> Net Profits </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrant in vm.careerData | orderBy: '-net_profits' | limitTo: 100" class="podium">
            <td style="font-size: 1.25vw" class="text-center podium">
              <i> {{$index + 1}} </i>
            </td>
            <td style="font-size: 1.25vw" class="text-center"> 
              <team class="entrant"> {{entrant.entrant}} </team> 
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.total_entries}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.buyins | currency:$:0}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.prizes | currency:$:0}}</team>
            </td>
            <td class="podium text-center">
              <team class="profits"> {{entrant.net_profits | currency:$:0}}</team>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <league class="col-xs-12 text-center" id="singleEventPrizes">
    Single-Event Prizes
  </league>
  <table class="col-xs-12 hof-table">
    <thead>
      <tr>
        <th class="text-center podium"> Rank </th>
        <th class="text-center podium"> Entrant </th>
        <th class="text-center podium"> Game </th>
        <th class="text-center podium"> Year </th>
        <th class="text-center podium"> Prize </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="records in vm.prizes" class="podium">
        <td class="text-center podium">
          <i> {{records.rank}} </i>
        </td>
        <td style="font-size: 1.25vw" class="text-center">
          <team class="entrant"> {{records.entrant}} </team>
        </td>
        <td class="podium text-center">
          <team class="prizes"> {{records.game}}</team>
        </td>
        <td class="podium text-center">
          <team class="black"> {{records.year}}</team>
        </td>
        <td class="podium text-center">
          <team class="profits"> {{records.prizes}}</team>
        </td>
      </tr>
    </tbody>
  </table>

  <league class="col-xs-12 text-center" id="totalEntries">
    Total Entries
  </league>
  <div class="row">
    <div class="col-xs-12 hof-table-wrapper">
      <table class="hof-table col-xs-12">
        <thead>
          <tr>
            <th class="text-center podium"> Rank </th>
            <th class="text-center podium"> Entrant </th>
            <th class="text-center podium"> Entries </th>
            <th class="text-center podium"> Championships </th>
            <th class="text-center podium"> Podiums </th>
            <th class="text-center podium"> Prizes </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrant in vm.careerData | orderBy: '-total_entries' | limitTo: 100" class="podium">
            <td style="font-size: 1.25vw" class="text-center podium">
              <i> {{$index + 1}} </i>
            </td>
            <td style="font-size: 1.25vw" class="text-center"> 
              <team class="entrant"> {{entrant.entrant}} </team> 
            </td>
            <td class="podium text-center">
              <team class="profits"> {{entrant.total_entries}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.titles}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.podiums}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.prizes | currency:$:0}}</team>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <league class="col-xs-12 text-center" id="totalChampionships">
    Total Championships
  </league>
  <div class="row">
    <div class="col-xs-12 hof-table-wrapper">
      <table class="hof-table col-xs-12">
        <thead>
          <tr>
            <th class="text-center podium"> Rank </th>
            <th class="text-center podium"> Entrant </th>
            <th class="text-center podium"> Entries </th>
            <th class="text-center podium"> Championships </th>
            <th class="text-center podium"> Podiums </th>
            <th class="text-center podium"> Prizes </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrant in vm.careerData | orderBy: '-titles' | limitTo: 100" class="podium">
            <td class="text-center podium">
              <i> {{$index + 1}} </i>
            </td>
            <td style="font-size: 1.25vw" class="text-center"> 
              <team class="entrant"> {{entrant.entrant}} </team> 
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.total_entries}}</team>
            </td>
            <td class="podium text-center">
              <team class="profits"> {{entrant.titles}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.podiums}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.prizes | currency:$:0}}</team>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <league class="col-xs-12 text-center" id="totalPodiums">
    Total Podiums (Top-3 Finishes)
  </league>
  <div class="row">
    <div class="col-xs-12 hof-table-wrapper">
      <table class="hof-table col-xs-12">
        <thead>
          <tr>
            <th class="text-center podium"> Rank </th>
            <th class="text-center podium"> Entrant </th>
            <th class="text-center podium"> Entries </th>
            <th class="text-center podium"> Championships </th>
            <th class="text-center podium"> Podiums </th>
            <th class="text-center podium"> Prizes </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entrant in vm.careerData | orderBy: '-podiums' | limitTo: 100" class="podium">
            <td class="text-center podium">
              <i> {{$index + 1}} </i>
            </td>
            <td style="font-size: 1.25vw" class="text-center"> 
              <team class="entrant"> {{entrant.entrant}} </team> 
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.total_entries}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.titles}}</team>
            </td>
            <td class="podium text-center">
              <team class="profits"> {{entrant.podiums}}</team>
            </td>
            <td class="podium text-center">
              <team class="black"> {{entrant.prizes | currency:$:0}}</team>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</podium>
