<pool class="col-xs-9 col-md-10 text-center">
  <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12">
    <p style="margin-bottom: -20px">
      <i class="fas fa-door-open"></i>
      Login to A Level Above
      <i class="fas fa-door-open"></i>
    </p>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
  <div>
    <form class="form-horizontal" ng-submit="vm.logIn(user)">
      <div class="row">
        <div class="form-group">
          <label for="username" class="col-sm-2 col-sm-offset-2 control-label">Username</label>
          <div class="col-sm-4">
            <input type="text" class="form-control validate" ng-model="user.username">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 col-sm-offset-2 control-label">Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control validate" ng-model="user.password">
          </div>
       </div>
       <div class="row">
         <div class="col-xs-12 center-align">
           <error ng-show="vm.error"> {{vm.error}} </error>
         </div>
       </div>
       <div class="form-group">
         <div class="col-sm-offset-7 col-sm-4 text-right">
           <button type="submit" class="btn btn-primary">Let's Go</button>
            <button ng-click="$dismiss()" class="btn btn-danger">Back</button>
         </div>
       </div>
       <div class="row reg-row text-center">
         First time here? Registering is quick and easy.
       </div>
      </div>
    </form>
  </div>
</pool>





<!--
"New here? Registration is quick and easy." -->


<!-- <div class="row">
  <regBack class="col-xs-9">
    <loginBox class="col-xs-6 offset-xs-3 z-depth-2">
      <div class="row">
        <div class="col-xs-3">
          <loginTitle> Login </loginTitle>
        </div>
        <regLink class="col m7 offset-m2">
          First time here?
          <a ui-sref="home.register">Click to create account.</a>
        </regLink>
      </div>
      <div class="row">
        <form class="col-xs-12" ng-submit="vm.logIn(user)">
          <div class="row">
            <div class="input-field col-xs-8 offset-xs-2">
              <i class="fa fa-user prefix" aria-hidden="true"></i>
              <input type="text" class="validate" ng-model="user.username">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-xs-8 offset-xs-2">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input type="password" class="validate" ng-model="user.password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 center-align">
              <error ng-show="vm.error"> {{vm.error}} </error>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 forgot">
              <!-- <a ui-sref="home.forgotpw">Forgot password?</a> -->
            </div>
            <div class="col-xs-3 offset-xs-3">
              <button type="submit" class=""> LOGIN </button>
            </div>
          </div>
        </form>
      </div>
    </loginBox>
  </regBack>
</div> -->
