<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> <b>ALA Fantasy Hoops</b>: the godfather of A Level Above. Since the inaugural season in 2001-02, ALA's founding fathers have competed in A Level Above's most symbollically important league. The league format has undergone a few changes over the years; the current format (in place since 2010) is a two-tiered, eight-category 'Power Rankings' Rotisserie system in which equal weight is given to (a) H2H Record and (b) Roto Score. Like most ALA Fantasy Leagues, there are no playoffs in ALA Fantasy Hoops, as its league members have always believed that season-long performance should take precedence over a team catching a few lucky breaks at the end of the season.</td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Reserved </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $100, $175 or $250 per season, with incremental prizes/penalties depending on final finish. For more details, see <a ui-sref="home.ala.buyins">ALA Buy-ins Explained</a>. </td>
      </tr>
      <tr>
        <td class="summary text-right"> League Homepage </td>
        <td class="details text-left"> <a href="http://fantasy.espn.com/basketball/league?leagueId=75590" target="_blank"><b>ESPN.com</b> (public)</a> </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
