<gameTitle class="col-md-10 text-center">
  <hr class="col-md-4 col-md-offset-4">
  <div class="col-md-12 gameTitle">
    <p> ALA Fantasy Hoops </p>
  </div>
  <div>
    <defending>
      <div class="">
        <span> <b> (2x) Defending Champ: </b> </span> <b> Seattle Supersonics </b> (Dan Goldman)
      </div>
    </defending>
  </div>
  <hr class="col-md-4 col-md-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.hoops.details" ng-class="{'activetab': $state.includes('home.ala.hoops.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.hoops.rankings" ng-class="{'activetab': $state.includes('home.ala.hoops.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.hoops.podium" ng-class="{'activetab': $state.includes('home.ala.hoops.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.hoops.records" ng-class="{'activetab': $state.includes('home.ala.hoops.records')}"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="podium"> </div>
<div ui-view="records"> </div>
