<rankings class="col m10">
  <p>
    Below you will find the current All-Time Rankings for ALA Fantasy Hoops. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/1FZq89yOV9iIBctg7cqZ1B8ikMGkf1aSpV-A_Lb9U0PI/edit#gid=106153115" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: Managers are ranked by their average finish over the league's 15-year history.
  </p>


  <iframe height="800" width="100%" src="https://docs.google.com/spreadsheets/d/1FZq89yOV9iIBctg7cqZ1B8ikMGkf1aSpV-A_Lb9U0PI/pubhtml?widget=true&amp;headers=false"></iframe>
</rankings>
