<rankings class="col m10">
  <p>
    Below you will find the current All-Time Rankings for NCAA Football Pick'em. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/18KX2PygbE0cFtjC6TMPKFVPghtjDUuI1PEqyjF7LJmc/edit#gid=2075576076" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: Entrants are divided into two tiers -- (a) those who have played in 3+ seasons and (b) those who have played in one or two seasons -- and then sorted by Win % within their tier.
  </p>
  <p>
    <b> Additional Notes</b>: In addition to all the career stats you'd expect to see for each entrant, I have also included an <i> Adjusted Record </i> section which subtracts all <i> Losses from Weeks w/No Picks </i> to reflect an entrant's W/L record for only those weeks in which picks were submitted. Thus, though this is not how the pool winners are decided, it may be a more accurate measure of an entrant's handicapping ability.
  </p>


  <iframe height="800" width="100%" src="https://docs.google.com/spreadsheets/d/18KX2PygbE0cFtjC6TMPKFVPghtjDUuI1PEqyjF7LJmc/pubhtml?widget=true&amp;headers=false"></iframe>
</rankings>
