<aboutHeader class="col-md-12">
    <alaLead style="margin-top: 10px">
      About Me
    </alaLead>
</aboutHeader>

<div class="row">
  <aboutIntro class="col-md-12 text-center">
    <div class="col-md-3 col-md-offset-2">
      <a class="example-image-link" href="images/bmprof.jpg" data-lightbox="image-1" data-title="BM 2015"> <img height="200" style="border-radius: 50%" src="images/bmprof.jpg" alt="bm image" /></a>
    </div>
    <div class="col-md-7">
      <hr class="col-md-6 col-md-offset-2">
      <div class="col-md-8 col-md-offset-1 text-center">
          One man. Many passions.
      </div>
      <hr class="col-md-6 col-md-offset-2">
      <p style="font-size: 12px; color: black">
        Hi, I'm Mike. Thanks for visiting. My story is best told via a few smaller stories.
      </p>
    </div>
  </aboutIntro>
</div>


<div class="row" style="margin-top: 40px">
  <div class="col-md-8">

  </div>
</div>
