<aboutHeader class="col-md-12">
    <alaLead style="margin-top: 10px">
      About Me
    </alaLead>
    <socLinks class="row">
      <div class="col-md-offset-8">
        <a href="https://twitter.com/mikeduin" target="_blank"><socBubble class="col-md-2 text-center"><i class="fa fa-twitter" aria-hidden="true"></i></socBubble></a>
        <a href="https://www.instagram.com/mike_duin/" target="_blank"><linkedBubble class="col-md-2 text-center"><i class="fa fa-linkedin" aria-hidden="true"></i></linkedBubble></a>
        <a href="https://www.instagram.com/mike_duin/" target="_blank"><socBubble class="col-md-2 text-center"><i class="fa fa-instagram black" aria-hidden="true"></i></socBubble></a>
        <a href="https://open.spotify.com/user/mike_duin" target="_blank"><spotBubble class="col-md-2 text-center"><i class="fa fa-spotify" style="color: #2FD566" aria-hidden="true"></i></spotBubble></a>
        <a href="https://www.facebook.com/mikeduin" target="_blank"><socBubble class="col-md-2 text-center"><i class="fa fa-facebook" style="color: #24307A" aria-hidden="true"></i></socBubble></a>
        <a></a>
      </div>
    </socLinks>
</aboutHeader>

<div class="row">
  <aboutIntro>
    <div class="col-md-3 col-md-offset-2">
       <img height="200" style="border-radius: 50%" src="images/bmprof.jpg" alt="bm image" />
    </div>
    <leadBar class="col-md-7">
      <div class="text-center">
        <hr class="hrow">
        <div class="text-center">
            Meet Mike.
        </div>
        <hr class="hrow">
      </div>
    </leadBar>
    <introText >
      <p class="text-center">
        Thanks for visiting. Here's my story.
      </p>
    </introText>
  </aboutIntro>
</div>

<firstStory class="col-md-12">
  <storyEntry class="col-md-7">
    <p>
      <b>When I was eight years old</b>, my dad enlisted me to help draft his team in the ‘Celebrity Division’ of the Portland Oregonian’s Fantasy Basketball League. Fantasy basketball <hoopsPopover popover-append-to-body="true" uib-popover-html="htmlPopover" popover-trigger="mouseenter" popover-placement="right-top"> worked a bit differently back then</hoopsPopover>. We won that league — getting props in the newspaper and having a trophy presented to us in the company of the rest of the league’s ‘celebrities’ — and so began my love affair with fantasy sports, now entering its third decade. Today, in my spare time <b>I run A Level Above</b>, a non-profit organization which has grown from its humble origins as a casual league between high-school buddies into a year-round gauntlet of pools, fantasy games, and competitions that has paid out over $110,000 in prizes to date. This website serves as the <a ui-sref="home.ala.blog">homepage of the ALA universe</a>.
    </p>
  </storyEntry>
  <storyPhotos class="col-md-5">
    <trophyBox class="col-md-7">
      <a href="images/trophy.jpg" data-lightbox="fantasy" data-title="The first title is always the sweetest."> <img src="images/trophy.jpg" alt="champions" /></a>
    </trophyBox>
    <paperBox class="col-md-5">
      <a href="images/paper.jpg" data-lightbox="fantasy" data-title="Portland Oregonian Sports Section, May 5, 1994."> <img src="images/paper.jpg" alt="champions" /></a>
    </paperBox>
  </storyPhotos>
</firstStory>

<hr class="col-md-8 col-md-offset-2 divider">

<firstStory class="col-md-12">
  <storyPhotos class="col-md-5">
  </storyPhotos>
  <storyEntry class="col-md-7">
    <p>
      At age 16, <b>I realized my dream of becoming a rockstar</b> as the frontman of The Xpletives (the letter <i>e</i> was super out-of-style back in ’01). We were easily the third- or fourth-coolest garage band (of about six) at Lake Oswego High School. Music has always been the ___what’s the good word for ‘center of me’ ___ a consistent thread that I can … My favorite thing about music? A song’s ability to so attach itself to a moment, event, or time in your life that when you hear that song years later, you’re transported back to where you were when that song most resonated with you. There’s nothing like it. Today, my taste in music is varied and far-reaching, and sharing music with people in any sense is such a passion of mine that there’s a page on this site dedicated to my Spotify playlists.
    </p>
  </storyEntry>
</firstStory>

<hr class="col-md-8 col-md-offset-2 divider">

<firstStory class="col-md-12">
  <italyEntry class="col-md-7">
    <p>
      When I was 19, I went to Italy for the first time with my family. My late grandfather’s parents emigrated to the US from a tiny town called Gioi in southwestern Italy, and my parents both studied in Venice; my family’s Italian heritage was rich. By the time that trip ended, I had little doubt that I wanted to follow in my parents’ footsteps, and I spent the spring of my junior year of college ‘studying’ in Florence with Gonzaga University. <b>It was the best four months of my life</b>; it instilled in me a passion for travel and photography that guides many of the decisions I make today, and I live in Seattle, WA because that’s where many of my Florence classmates also ended up. My travel photography is proudly displayed here.
    </p>
  </italyEntry>
  <storyPhotos class="col-md-5">
    <familyBox class="col-md-7">
      <a href="images/family.jpg" data-lightbox="italy" data-title="Family. Venice, 2015."> <img src="images/family.jpg" alt="family" /></a>
    </familyBox>
    <ponteBox class="col-md-5">
      <a href="images/pontevecchio.jpg" data-lightbox="italy" data-title="Florence's Ponte Vecchio."> <img src="images/pontevecchio.jpg" alt="family" /></a>
    </ponteBox>
  </storyPhotos>
</firstStory>

<hr class="col-md-8 col-md-offset-2 divider">

<firstStory class="col-md-12">
  <storyPhotos class="col-md-5">
  </storyPhotos>
  <storyEntry class="col-md-7">
    <p>
      Today? After years of ___, I’ve finally found myself on a career path that I’m legitimately excited about. I’ve always been passionate about solving problems and driven by a devotion to logic, patterns, and formulas (…from an early age, my friends would mock me by telling me to “go make a spreadsheet.”). <b>Web development allows me to use the gifts that come most naturally to me</b> to achieve the kinds of creative visions that had previously alluded me. Progamming is the unity and culmination of all my other passions in life, and I’m excited to see where it takes me.
    </p>
  </storyEntry>
</firstStory>
