<alaHeader class="col-xs-12" id="alaTop" ng-init="vm.isLoggedIn()">
  <alaLead style="margin-top: 10px">
    <img src='https://s3-us-west-2.amazonaws.com/mikeduin.com/ALA_big_black.png' style='height: 8vw; width: 8vw'/>
    A Level Above
  </alaLead>
  <alaLinks class="row">
    <div class="col-xs-offset-2">
      <div uib-dropdown style="display: inline; margin-left: 5%;">
        <a uib-dropdown-toggle ng-class="{activeLink: $state.includes('home.ala.about') || $state.includes('home.ala.buyins') || $state.includes('home.ala.photos') || $state.includes('home.ala.growth')}">About + How to Play <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul uib-dropdown-menu class="dropdown-styles">
            <li><a ui-sref="home.ala.about" style="margin-left: 0px">What is A Level Above?</a></li>
            <li><a ui-sref="home.ala.growth" style="margin-left: 0px">Growth Graph</a></li>
            <li><a ui-sref="home.ala.buyins" style="margin-left: 0px">Buy-ins + Prizes Explained</a></li>
            <li><a ui-sref="home.ala.photos" style="margin-left: 0px">Photos</a></li>
          </ul>
      </div>
      <a ui-sref="home.ala.blog.main" ng-class="{activeLink: $state.includes('home.ala.blog')}"> Blog</a>
      <a ui-sref="home.ala.pools" ng-class="{activeLink: $state.includes('home.ala.pools')}">Pools</a>
      <div uib-dropdown style="display: inline">
        <a uib-dropdown-toggle ng-class="{activeLink: $state.includes('home.ala.careerdata') || $state.includes('home.ala.leaders') || $state.includes('home.ala.champions') || $state.includes('home.ala.balances')}">Records & Data <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul uib-dropdown-menu class="dropdown-styles">
            <li><a ui-sref="home.ala.careerdata" style="margin-left: 0px">Universal Career Data</a></li>
            <li><a ui-sref="home.ala.leaders" style="margin-left: 0px">All Time Leaders</a></li>
            <li><a ui-sref="home.ala.champions" style="margin-left: 0px">Title Holders</a></li>
            <li><a ui-sref="home.ala.balances" style="margin-left: 0px">Current Balances</a></li>
          </ul>
      </div>
      <a ui-sref="home.ala.contact" ng-class="{activeLink: $state.includes('home.ala.contact')}">Contact</a>
    </div>
  </alaLinks>
</alaHeader>
<alaLogin class="col-xs-12 full-center">
  <b><span ng-show="vm.isLoggedIn() !== false">Welcome, <a class="pointer" ui-sref="home.ala.user({username: vm.currentUser()})">{{ vm.currentUser() }}</a>  <span class="mid-bar">|</span>  <a class="logout" ng-click="vm.logOut()">logout</a></span>
  <span ng-show="vm.isLoggedIn() == false"><a ui-sref="home.ala.loginpop">Login</a> for access to pools, your game history, and more</span></b>
</alaLogin>

<alaSidebar class="col-xs-3 col-md-2"/>
  <ul>
    <!-- <li class="game-header">- THE GAMES -</li> -->
    <li class="disclaimer"><i>ALA games are played for entertainment purposes only. Noted dollar amounts are theoretical and used only as a vehicle for scorekeeping.</i></li>
    <li ng-click="vm.menuDisplay('showMadness')" style="border-top: none"> <img src="images/basketball.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.madness')}"> NCAA March Madness </a> </li>
    <ul ng-class="{slideDown: showMadness}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -0.8vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.podium"> The Podium </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.yoy"> Prize Progression </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.records"> Game Records </a> </li>
    </ul>
    <li ng-click="vm.menuDisplay('showFifa')"> <img src="images/soccer.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.fifa')}"> FIFA World Cup </a> </li>
    <ul ng-class="{slideDown: showFifa}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.fifa.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.fifa.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.fifa.survivor"> Survivor </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.fifa.btb"> Battle the Bookies </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.fifa.bracket"> Bracket Pool </a> </li>
    </ul>
    <li ng-click="vm.menuDisplay('showsurvivorseries')"> <img src="images/survivor_crosshair.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.survivorseries')}"> Survivor Series </a> </li>
    <ul ng-class="{slideDown: showsurvivorseries}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -0.8vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivorseries.details"> Game Details </a> </li>
      <!-- <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivorseries.rankings"> All-Time Rankings </a> </li>-->
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivorseries.winners"> Prize Winners </a> </li> 
      <!-- <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivorseries.yoy"> Prize Progression </a> </li> -->
      <!-- <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivorseries.records"> Game Records </a> </li> -->
    </ul>
    <li ng-click="vm.menuDisplay('showBtb')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.btb')}"> NFL Battle the Bookies </a> </li>
    <ul ng-class="{slideDown: showBtb}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -0.8vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.podium"> The Podium </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.yoy"> Prize Progression </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.records"> Game Records </a> </li>
    </ul>
    <li ng-click="vm.menuDisplay('showCalcutta')"> <img src="images/auction.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.calcutta')}"> Calcutta Auctions </a> </li>
      <ul ng-class="{slideDown: showCalcutta}" class="nav-slide">
        <li class="col-xs-offset-2 submenu" style="margin-top: -0.8vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.calcutta.details"> Game Details </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.calcutta.rankings"> All-Time Rankings </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.calcutta.podium"> The Podium </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.calcutta.yoy"> Prize Progression </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.calcutta.records"> Game Records </a> </li>
      </ul>
    <li ng-click="vm.menuDisplay('showFantasyNBA')"> <img src="images/basketball.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.hoops'), 'activeGame': $state.includes('home.ala.nbacdl')}" class="slideDown"> Fantasy NBA </a></li>
      <ul ng-class="{slideDown: showFantasyNBA}" class="nav-slide" class="multigame">
        <li class="col-xs-offset-2 submenu" ng-click="vm.hoopsDisplay('showAlaHoops')" style="margin-top: -1.3vw"> <a class="subleague"> ALA Fantasy Hoops </a> </li>
          <ul ng-class="{slideDown: showAlaHoops}" class="nav-slide">
            <li class="col-xs-offset-2 submenu" style="margin-top: -5px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.hoops.details"> Game Details </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.hoops.rankings"> All-Time Rankings </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.hoops.podium"> The Podium </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.hoops.records"> League Records </a> </li>
          </ul>
        <li class="col-xs-offset-2 submenu" ng-click="vm.hoopsDisplay('showAlaCdl')"> <a class="subleague"> ALA NBA CDL </a> </li>
          <ul ng-class="{slideDown: showAlaCdl}" class="nav-slide">
            <li class="col-xs-offset-2 submenu" style="margin-top: -5px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.nbacdl.details"> Game Details </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.nbacdl.rankings"> All-Time Rankings </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.nbacdl.podium"> The Podium </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.nbacdl.records"> League Records </a> </li>
            <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage hoops-sub" ui-sref="home.ala.nbacdl.constitution"> Constitution </a> </li>
          </ul>
      </ul>
    <li ng-click="vm.menuDisplay('showBaseball')"> <img src="images/baseball.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.baseball')}"> Fantasy MLB </a> </li>
      <ul ng-class="{slideDown: showBaseball}" class="nav-slide">
        <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.details"> Game Details </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.rankings"> All-Time Rankings </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.podium"> The Podium </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.records"> League Records </a> </li>
      </ul>
    <li ng-click="vm.menuDisplay('showFootball')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.football')}"> Fantasy NFL </a> </li>
      <ul ng-class="{slideDown: showFootball}" class="nav-slide">
        <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.details"> Game Details </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.rankings"> All-Time Rankings </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.podium"> The Podium </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.records"> League Records </a> </li>
      </ul>
    <li ng-click="vm.menuDisplay('showSurvivor')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.survivor')}"> NFL Survivor </a> </li>
      <ul ng-class="{slideDown: showSurvivor}" class="nav-slide">
        <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.details"> Game Details </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.rankings"> All-Time Rankings </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.winners"> Prize Winners </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.yoy"> Prize Progression </a> </li>
      </ul>
    <li ng-click="vm.menuDisplay('showConfidence')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.confidence')}"> NFL Confidence </a> </li>
      <ul ng-class="{slideDown: showConfidence}" class="nav-slide">
        <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.details"> Game Details </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.rankings"> All-Time Rankings </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.podium"> The Podium </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.yoy"> Prize Progression </a> </li>
        <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.records"> Game Records </a> </li>
      </ul>
    <li ng-click="vm.menuDisplay('showNcaaPickem')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.ncaapickem')}"> NCAA Pick'em </a> </li>
    <ul ng-class="{slideDown: showNcaaPickem}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.podium"> The Podium </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.yoy"> Prize Progression </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.records"> Game Records </a> </li>
    </ul>
    <li ng-click="vm.menuDisplay('showBowlPickem')"> <img src="images/football.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.bowlpickem')}"> Bowl Pick'em </a> </li>
    <ul ng-class="{slideDown: showBowlPickem}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.bowlpickem.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.bowlpickem.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.bowlpickem.podium"> The Podium </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.bowlpickem.yoy"> Prize Progression </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.bowlpickem.records"> Game Records </a> </li>
    </ul>
    <li ng-click="vm.menuDisplay('showNbaPlayoffs')"> <img src="images/basketball.jpg"/> <a ng-class="{'activeGame': $state.includes('home.ala.nbaplayoffs')}"> NBA Playoffs </a> </li>
    <ul ng-class="{slideDown: showNbaPlayoffs}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.nbaplayoffs.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.nbaplayoffs.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.nbaplayoffs.podium"> The Podium </a> </li>
    </ul>
    <li ng-click=vm.menuDisplay('showPga')> <img src="images/golf.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.pga')}"> PGA Majors </a> </li>
    <ul ng-class="{slideDown: showPga}" class="nav-slide">
      <li class="col-xs-offset-2 submenu" style="margin-top: -1.3vw" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.pga.details"> Game Details </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.pga.rankings"> All-Time Rankings </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.pga.podium"> The Podium </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.pga.yoy"> Prize Progression </a> </li>
      <li class="col-xs-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.pga.records"> Game Records </a> </li>
    </ul>
  </ul>
</alaSidebar>

<divView ui-view="about"> </divView>
<divView ui-view="balances"> </divView>
<divView ui-view="baseball"> </divView>
<divView ui-view="blog"> </divView>
<divView ui-view="blog-add"> </divView>
<divView ui-view="bowlpickem"> </divView>
<divView ui-view="btb"> </divView>
<divView ui-view="buyins"> </divView>
<divView ui-view="calcutta"> </divView>
<divView ui-view="careerdata"> </divView>
<divView ui-view="champions"> </divView>
<divView ui-view="confidence"> </divView>
<divView ui-view="contact"> </divView>
<divView ui-view="db"> </divView>
<divView ui-view="fifa"> </divView>
<divView ui-view="football"> </divView>
<divView ui-view="growth"> </divView>
<divView ui-view="hoops"> </divView>
<divView ui-view="leaders"> </divView>
<divView ui-view="login"> </divView>
<divView ui-view="madness"> </divView>
<divView ui-view="nbacdl"> </divView>
<divView ui-view="nbaplayoffs"> </divView>
<divView ui-view="survivorseries"> </divView>
<divView ui-view="ncaapickem"> </divView>
<divView ui-view="pga"> </divView>
<divView ui-view="photos"> </divView>
<divView ui-view="pools"> </divView>
<divView ui-view="survivor"> </divView>
<divView ui-view="user"> </divView>
<divView ui-view="wc18bracket"> </divView>
