<alaHeader class="col-md-12" id="alaTop">
    <alaLead style="margin-top: 10px">
      A Level Above
    </alaLead>
    <alaLinks class="row">
      <div class="col-md-offset-4">
        <a ui-sref="home.ala.about">About + How to Play</a>
        <a ui-sref="home.ala.blog.main"> Blog</a>
        <a>Players</a>
        <a>Photos</a>
        <a>Contact</a>
      </div>
    </alaLinks>
</alaHeader>

<alaSidebar class="col-md-2"/>
  <ul>
    <li ng-click="showFantasyNBA = !showFantasyNBA" style="border-top: none"> <img src="images/basketball.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.hoops'), 'activeGame': $state.includes('home.ala.nbacdl')}"> Fantasy NBA </a></li>
      <ul ng-show="showFantasyNBA === true" class="multigame">
        <li class="col-md-offset-2 submenu" ng-click="showAlaHoops = !showAlaHoops" style="margin-top: -10px"> <a class="subleague" > ALA Fantasy Hoops </a> </li>
          <ul ng-show="showAlaHoops === true">
            <li class="col-md-offset-2 submenu" style="margin-top: -5px"> <a class="gamepage" ui-sref="home.ala.hoops.details"> Game Details </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.hoops.rankings"> All-Time Rankings </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.hoops.podium"> The Podium </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.hoops.records"> Record Holders </a> </li>
          </ul>
        <li class="col-md-offset-2 submenu" ng-click="showAlaCdl = !showAlaCdl"> <a class="subleague"> ALA NBA CDL </a> </li>
          <ul ng-show="showAlaCdl === true">
            <li class="col-md-offset-2 submenu" style="margin-top: -5px"> <a class="gamepage" ui-sref="home.ala.nbacdl.details"> Game Details </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.nbacdl.rankings"> All-Time Rankings </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.nbacdl.podium"> The Podium </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.nbacdl.records"> Record Holders </a> </li>
            <li class="col-md-offset-2 submenu"> <a class="gamepage" ui-sref="home.ala.nbacdl.constitution"> Constitution </a> </li>
          </ul>
      </ul>
    <li ng-click="showBaseball = !showBaseball"> <img src="images/baseball.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.baseball')}"> Fantasy MLB </a> </li>
      <ul ng-show="showBaseball === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.podium"> The Podium </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.baseball.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showFootball = !showFootball"> <img src="images/football.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.football')}"> Fantasy NFL </a> </li>
      <ul ng-show="showFootball === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.podium"> The Podium </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.football.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showMadness = !showMadness"> <img src="images/basketball.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.madness')}"> NCAA March Madness </a> </li>
      <ul ng-show="showMadness === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.podium"> The Podium </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.yoy"> YoY Progression </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.madness.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showBtb = !showBtb"> <img src="images/football.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.btb')}"> NFL Battle the Bookies </a> </li>
      <ul ng-show="showBtb === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.podium"> The Podium </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.yoy"> YoY Progression </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.btb.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showSurvivor = !showSurvivor"> <img src="images/football.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.survivor')}"> NFL Survivor </a> </li>
      <ul ng-show="showSurvivor === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.yoy"> YoY Progression </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.survivor.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showConfidence = !showConfidence"> <img src="images/football.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.confidence')}"> NFL Confidence </a> </li>
      <ul ng-show="showConfidence === true">
        <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.details"> Game Details </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.rankings"> All-Time Rankings </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.podium"> The Podium </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.yoy"> YoY Progression </a> </li>
        <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.confidence.records"> Record Holders </a> </li>
      </ul>
    <li ng-click="showNcaaPickem = !showNcaaPickem"> <img src="images/football.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.ncaapickem')}"> NCAA Pick'em </a> </li>
    <ul ng-show="showNcaaPickem === true">
      <li class="col-md-offset-2 submenu" style="margin-top: -10px" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.details"> Game Details </a> </li>
      <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.rankings"> All-Time Rankings </a> </li>
      <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.podium"> The Podium </a> </li>
      <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.yoy"> YoY Progression </a> </li>
      <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.records"> Record Holders </a> </li>
      <li class="col-md-offset-2 submenu" ng-click="vm.gotoId('alaTop')"> <a class="gamepage" ui-sref="home.ala.ncaapickem.bowlpickem"> Bowl Pick 'em </a> </li>
    </ul>
    <li ng-click="showFifa = !showFifa"> <img src="images/soccer.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.fifa')}"> FIFA World Cup </a> </li>
    <li ng-click="showNbaPlayoffs = !showNbaPlayoffs"> <img src="images/basketball.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.nbaplayoffs')}"> NBA Playoff Pool </a> </li>
    <li ng-click="showPga = !showPga"> <img src="images/golf.png"/> <a ng-class="{'activeGame': $state.includes('home.ala.pga')}"> PGA Majors </a> </li>
  </ul>
</alaSidebar>

<divView ui-view="about"> </divView>
<divView ui-view="blog"> </divView>
<divView ui-view="blog-add"> </divView>
<divView ui-view="buyins"> </divView>
<divView ui-view="madness"> </divView>
<divView ui-view="ncaapickem"> </divView>
<divView ui-view="nbacdl"> </divView>
<divView ui-view="hoops"> </divView>
<divView ui-view="btb"> </divView>
<divView ui-view="baseball"> </divView>
<divView ui-view="football"> </divView>
<divView ui-view="survivor"> </divView>
<divView ui-view="confidence"> </divView>
<divView ui-view="fifa"> </divView>
<divView ui-view="nbaplayoffs"> </divView>
<divView ui-view="pga"> </divView>
