<alaHeader class="col-xs-12" id="alaTop">
    <alaLead style="margin-top: 10px">
      A Level Above
    </alaLead>
    <alaLinks class="row">
      <div class="col-xs-offset-3">
        <div uib-dropdown style="display: inline; margin-left: 5%;">
          <a uib-dropdown-toggle ng-class="{activeLink: $state.includes('home.ala.about') || $state.includes('home.ala.buyins')}">About + How to Play <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul uib-dropdown-menu class="dropdown-styles">
              <li><a ui-sref="home.ala.about" style="margin-left: 0px">What is A Level Above?</a></li>
              <li><a ui-sref="home.ala.buyins" style="margin-left: 0px">Buy-ins + Prizes Explained</a></li>
            </ul>
        </div>
        <a ui-sref="home.ala.blog.main" ng-class="{activeLink: $state.includes('home.ala.blog')}"> Blog</a>
        <div uib-dropdown style="display: inline">
          <a uib-dropdown-toggle ng-class="{activeLink: $state.includes('home.ala.careerdata') || $state.includes('home.ala.leaders') || $state.includes('home.ala.champions') || $state.includes('home.ala.balances')}">Players <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul uib-dropdown-menu class="dropdown-styles">
              <li><a ui-sref="home.ala.careerdata" style="margin-left: 0px">Universal Career Data</a></li>
              <li><a ui-sref="home.ala.leaders" style="margin-left: 0px">All Time Leaders</a></li>
              <li><a ui-sref="home.ala.champions" style="margin-left: 0px">Title Holders</a></li>
              <li><a ui-sref="home.ala.balances" style="margin-left: 0px">Current Balances</a></li>
            </ul>
        </div>
        <a ui-sref="home.ala.photos" ng-class="{activeLink: $state.includes('home.ala.photos')}">Photos</a>
        <a ui-sref="home.ala.contact" ng-class="{activeLink: $state.includes('home.ala.contact')}">Contact</a>
      </div>
    </alaLinks>
</alaHeader>
