<!-- <div class="row no-gutters">
  <grid class="col-md-3">
    <img src="/images/kophiphi.jpg" alt="Ko Phi Phi, Thailand" />
  </grid>
  <grid class="col-md-4">
    <img src="/images/lakers_full_rez.jpeg" alt="ALA Fantasy Hoops, 2005-06" style="height: 300px"/>
  </grid>
  <grid class="col-md-5">
    <img src="/images/kophiphi.jpg" alt="Ko Phi Phi, Thailand" />
  </grid>
</div> -->

<!-- <div class="col-md-12 text-center navbar-brand title-head">
  <span> mike<b>duin</b> <span>
</div> -->

<hr class="col-md-4 col-md-offset-4 title-hr">

<div>
  <div class="row">
    <a ui-sref="home.about"><leftSquare>
    </leftSquare></a>
    <a ui-sref="home.professional"><square class="work">
      <p class="work-content slide" id="work-text"> work </p>
    </square></a>
    <a href="/"><square class="kophiphi">
      <p class="ko-content slide" id="kophiphi-text"> photography </p>
    </square></a>
  </div>
  <div class="row">
    <a ui-sref="home.ala"><leftSquare>
    </leftSquare></a>
    <a ui-sref="home.music"><square class="music-logo">
      <p class="music-content slide" id="music-text"> music </p>
    </square></a>
    <a ui-sref="home.fridge"><square class="fridge">
      <p class="slide fridge-content" id="fridge-text"> fridge </p>
    </square></a>
  </div>
</div>
