<hr class="col-xs-2 col-xs-offset-1 title-hr main-splash">

<div class="col-xs-12 main-splash">
  <div class="row">
    <a ui-sref="home.about"><leftSquare class="about">
      <p class="about-content slide" id="about-text"> about </p>
    </leftSquare></a>
    <a ui-sref="home.professional"><square class="work">
      <p class="work-content slide" id="work-text"> work </p>
    </square></a>
    <a href="http://photography.mikeduin.com"><square class="kophiphi">
      <p class="ko-content slide" id="kophiphi-text"> photography </p>
    </square></a>
    <div class="webdev-rotate">
      web<b>developer</b>
      <hr class="col-xs-7 col-xs-offset-5 side-hr">
    </div>
  </div>
  <div class="row">
    <a ui-sref="home.ala.blog.main"><leftSquare class="ala-logo">
      <p class="ala-content slide" id="ala-text"> a level above </p>
    </leftSquare></a>
    <a ui-sref="home.music"><square class="music-logo">
      <p class="music-content slide" id="music-text"> music </p>
    </square></a>
    <a ui-sref="home.fridge"><square class="fridge">
      <p class="slide fridge-content" id="fridge-text"> fridge </p>
    </square></a>
  </div>
</div>

<div class="row">
  <div class="mob-splash mob-header">
    <div class="mob-splash-logo col-xs-12 text-center">
      <span> mike<b>duin</b></span>
    </div>
      <hr class="col-xs-6 col-xs-offset-3 mob-hr">
    <div class="mob-splash-logo col-xs-12 text-center">
      <span> web<b>developer</b></span>
    </div>
  </div>
</div>

<div class="squares mob-splash">
  <a ui-sref="home.about"><mobSquare class=""></mobSquare></a>
  <a ui-sref="home.professional">
    <mobSquare class="work-mob">
      <p class="work-mob-content mob-p"> work </p>
    </mobSquare>
  </a>
  <a ui-sref="home.ala.blog.main">
    <mobSquare class="ala-logo-mob">
      <p class="ala-mob-content mob-p"> a level above </p>
    </mobSquare>
  </a>
  <a href="http://photography.mikeduin.com">
    <mobSquare class="kophiphi-mob">
      <p class="ko-mob-content mob-p">photography</p>
    </mobSquare>
  </a>
  <a ui-sref="home.music">
    <mobSquare class="music-logo-mob">
      <p class="music-mob-content mob-p">music</p>
    </mobSquare>
  </a>
  <a ui-sref="home.fridge">
    <mobSquare class="fridge-mob">
      <p class="fridge-mob-content mob-p">fridge</p>
    </mobSquare>
  </a>
</div>
