<fridgeHeader class="col-md-12">
    <alaLead style="margin-top: 10px">
      Mike's Fridge
    </alaLead>
    <fridgeSubheader class="row">
      <div class="col-md-offset-7" style="margin-top: 10px">
        Coming over? Queue up a cold one...
      </div>
    </fridgeSubheader>
</fridgeHeader>

<fridgeLead class="col-md-10 col-md-offset-1">
  Thanks to the fine people (and A+ copywriters) at <a href="https://www.tavour.com/?invitedby=7020" target="_blank">Tavour</a>, I've amassed a patently absurd stockpile of beer in my cellar*. If you're reading this: I need your help. I'll never be able to drink all this beer alone. If you're coming over, take a gander at the bottle list below and click the 'Fridge Me!' button to send me an email requesting that I put the beer(s) of your choice in the fridge for you ahead of time.
</fridgeLead>

<fridgeIndex class="col-md-6">
  <searchContainer class="col-md-12" ng-click="showSearch = !showSearch">
    <div class="text-center">
      CLICK TO <span> SEARCH </span> or <span> FILTER </span> BEER
    </div>
    <searchOptions class="col-md-12" ng-show="showSearch === true">
      <search class="text-left">
        <div class="">
          Search by name
          <input type="text" name="name" value="">
        </div>
        <div class="">
          Filter by brewery
          <select class="" name="">
            <option>
          </select>
        </div>
        <div class="">
          Filter by style
          <select class="" name="">
            <option>
          </select>
        </div>
        <div class="">
          Sort by:
            <sort> latest arrivals </sort> |
            <sort> ABV (high) </sort> |
            <sort> ABV (low) </sort>
            <!-- Why doesn't this work below? -->
            <!-- <closeSearch ng-click="showSearch = false"> Close Search Box </closeSearch> -->
        </div>
      </search>
    </searchOptions>
  </searchContainer>
  <hr class="row col-md-10 col-md-offset-1">
  <instructions class="col-md-12 text-center">
    <i> Click Beer to See Details </i>
  </instructions>

  <bottleList>
    <beerContainer class="col-md-12">
      <beerInfo class="col-md-8">
        <name class="col-md-12"> Beer Name Goes Here </name>
        <brewery class="col-md-12"> Brewery Goes Here </brewery>
        <beerStyle class="col-md-12"> Style Goes Here </beerStyle>
        <abv class="col-md-12"> ABV Goes Here </abv>
      <beerInfo>
      <beerImage class="col-md-4">
      </beerImage>

    </beerContainer>


  <bottleList>

</fridgeIndex>

<div ui-view="beerdisplay"> </div>
