<div class="">
  <fridgeHeader class="col-md-12">
      <alaLead style="margin-top: 10px">
        Mike's Fridge
      </alaLead>
      <fridgeSubheader class="row">
        <div class="col-md-offset-7">
          Coming over? Queue up a cold one...
        </div>
      </fridgeSubheader>
  </fridgeHeader>

  <fridgeLead class="col-md-10 col-md-offset-1">
    Thanks to the fine people (and the elite copywriters) at <a href="https://www.tavour.com/?invitedby=7020" target="_blank">Tavour</a>, I've amassed a patently absurd stockpile of craft beer in my cellar*. If you're reading this: I need your help. Drinking all of this beer is well beyond the scope of a one-man operation. If you're coming over, check out the bottle list below and click the 'Fridge Me!' button to send me an email requesting that I put the beer(s) of your choice in the fridge for you ahead of time. They'll be cold when you get here.
  </fridgeLead>
  <fridgeNote class="col-md-3 col-md-offset-9">
    *actually a closet in a hallway
  </fridgeNote>

  <fridgeIndex class="col-md-6" id="searchBar">
    <searchContainer class="col-md-12">
      <div class="text-center pointer" ng-click="showSearch = !showSearch">
        CLICK HERE TO <span> SEARCH</span>, <span> FILTER</span>, or <span> SORT </span> BEER
      </div>
      <searchOptions class="col-md-12" ng-show="showSearch === true">
        <search class="text-left">
          <div class="">
            Search name, description, etc. <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <input type="text" name="searchBeer" ng-model="searchText">
          </div>
          <div>
            Filter by brewery
            <select name="breweryFilter" ng-model="breweryFilter">
              <option value=""> (all breweries) </option>
              <option ng-repeat="brewery in vm.breweries | orderBy: brewery" value="brewery"> {{brewery}} </option>
            </select>
          </div>
          <div>
            Filter by style
            <select class="" name="">
              <option>
            </select>
          </div>
          <div>
            Sort by:
              <i class="fa fa-beer" aria-hidden="true"></i>
              <sort class="pointer" ng-click="vm.sortOrder = '-ordered'; vm.topOfBeerList()"> newest arrivals</sort>
              <span> &nbsp &nbsp </span>
              <i class="fa fa-beer" aria-hidden="true"></i>
              <sort class="pointer" ng-click="vm.sortOrder = '-abv'; vm.topOfBeerList()"> ABV (high)</sort>
              <span> &nbsp &nbsp </span>
              <i class="fa fa-beer" aria-hidden="true"></i>
              <sort class="pointer" ng-click="vm.sortOrder = 'abv'; vm.topOfBeerList()"> ABV (low)</sort>
          </div>
          <div>
            Show:
            <span class="cold pointer" ng-click="vm.coldFilter = true" ng-show="vm.coldFilter === false"> Cold Beers Only </span>
            <span class="pointer" ng-click="vm.coldFilter = false" ng-show="vm.coldFilter === true"> <b>All Beers</b> </span>
          </div>
        </search>
      </searchOptions>
    </searchContainer>
    <hr class="row col-md-10 col-md-offset-1">

    <bottleList class="col-md-12" id="bottleList">
      <beerContainer class="col-md-12" ng-click="vm.gotoId('searchBar'); vm.showInstructions = false" ng-repeat="beer in vm.beers | orderBy: vm.sortOrder | filter:searchText | filter: { brewery: breweryFilter } | filter: (vm.coldFilter ? { cold: vm.coldFilter } : '')">
        <a ui-sref="home.fridge.beer({beername: beer.beername})">
          <beerImage class="col-md-offset-1 col-md-2">
            <img src="{{beer.image}}" alt="{{beer.name}}" />
          </beerImage>
            <beerInfo class="col-md-9">
              <name class="col-md-12"> {{beer.name}} </name>
              <brewery class="col-md-12"> <b> {{beer.brewery}} </b> </brewery>
              <beerStyle class="col-md-12"> {{beer.style}} </beerStyle>
              <abv class="col-md-4"> ABV: {{beer.abv}}% </abv>
              <ordered class="col-md-8"> Ordered: {{beer.ordered | date: 'longDate'}} </ordered>
            </beerInfo>
        </a>
      </beerContainer>
    </bottleList>
    <addBeer class="col-md-12 text-center">
      <a ui-sref="home.fridge.addbeer" ng-click="vm.showInstructions = false">Add a Beer</a>
    </addBeer>
  </fridgeIndex>
  <instructions class="col-md-4 col-md-offset-1 text-center" ng-show="vm.showInstructions === true">
    <i> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Select a Beer to See Details Here </i>
  </instructions>
</div>

<div ui-view="beerdisplay"> </div>
<div ui-view="addbeer"> </div>
