
<div class="nav navbar navbar-fixed-top navbar-border" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')">
  <div class="navContainer container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false'></button>
        <span class="sr-only"> Toggle Naviation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <a class="navbar-brand" href="/">
        <span> mike<b>duin</b></span><span ng-show="$state.includes('home.fridge')"><b>'s</b></span>
      </a>
      <a class="navbar-brand" ui-sref="home.about" ng-show="$state.includes('home.about')">
        <span>|</span>  <span>  &nbsp; ...who? </span>
      </a>
      <a class="navbar-brand" ui-sref="home.music" ng-show="$state.includes('home.music')">
        <span>|<b> music</b>lover</span>
      </a>
      <a class="navbar-brand" ui-sref="home.professional" ng-show="$state.includes('home.professional')">
        <span>| web<b>developer</b></span>
      </a>
      <a class="navbar-brand" ui-sref="home.fridge" ng-show="$state.includes('home.fridge')">
        <span>|<b> bottle</b>list </span>
      </a>
      <a class="navbar-brand" ng-show="$state.includes('home.ala')">
        <span style="font-size: 27px">|<b> ala</b>commissioner</span>
      </a>
      <!-- <a class="navbar-brand" ng-show="$state.includes('home.contact')">
        <span>| contact</span>
      </a> -->

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> <a class="navlink" ui-sref="home.about" id="aboutAnchor" ng-class="{'aboutBack': $state.includes('home.about')}" title="About"> About </a></li>
        <li> <a class="navlink" ui-sref="home.professional" id="workAnchor" ng-class="{'workBack': $state.includes('home.professional')}" title="Professional"> Professional </a></li>
        <li> <a class="navlink" title="Photography" href="http://mikeduin.500px.com/"> Photography </a></li>
        <li> <a class="navlink" ui-sref="home.ala.blog.main" id="alaAnchor" ng-class="{'alaBack': $state.includes('home.ala')}" title="A Level Above"> A Level Above </a></li>
        <li> <a class="navlink" ui-sref="home.music" id="musicAnchor" ng-class="{'musicBack': $state.includes('home.music')}" title="Music"> Music </a></li>
        <li> <a class="navlink" ui-sref="home.fridge" id="fridgeAnchor" ng-class="{'fridgeBack': $state.includes('home.fridge')}" title="Mike's Fridge"> Mike's Fridge </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="spacer"> </div>
