<div class="nav navbar navbar-fixed-top main-nav" id="navbar-top" role="navigation" ng-class="{'navbar-border': $state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')}">
  <div class="navContainer container-fixed">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded='false'><i class="fa fa-bars" aria-hidden="true"></i></button>
        <!-- <span class="sr-only"> Toggle Navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      <a class="navbar-brand main-splash" href="/">
        <span> mike<b>duin</b></span>
        <!-- <span ng-show="$state.includes('home.fridge')" class="hidden-xs"><b>'s</b></span> -->
      </a>
      <!-- <div class="hidden-xs">
        <a class="hidden-xs navbar-brand" ui-sref="home.about" ng-show="$state.includes('home.about')">
          <span>|</span>  <span>  &nbsp; ...who? </span>
        </a>
        <a class="hidden-xs navbar-brand" ui-sref="home.music" ng-show="$state.includes('home.music')">
          <span>|<b> music</b>lover</span>
        </a>
        <a class="hidden-xs navbar-brand" ui-sref="home.professional" ng-show="$state.includes('home.professional')">
          <span>| web<b>developer</b></span>
        </a>
        <a class="hidden-xs navbar-brand" ui-sref="home.fridge" ng-show="$state.includes('home.fridge')">
          <span>|<b> bottle</b>list </span>
        </a>
        <a class="hidden-xs navbar-brand" ng-show="$state.includes('home.ala')">
          <span style="font-size: 27px">|<b> ala</b>commissioner</span>
        </a>
      </div> -->
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isCollapsed" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')">
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.about" id="aboutAnchor" ng-class="{'aboutBack': $state.includes('home.about')}" title="About"> About </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.professional" id="workAnchor" ng-class="{'workBack': $state.includes('home.professional')}" title="Professional"> Portfolio </a></li>
        <li> <a class="navlink" title="Photography" href="http://photography.mikeduin.com/"> Photography </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.ala.blog.main" id="alaAnchor" ng-class="{'alaBack': $state.includes('home.ala')}" title="A Level Above"> A Level Above </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.music" id="musicAnchor" ng-class="{'musicBack': $state.includes('home.music')}" title="Music"> Music </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.fridge" id="fridgeAnchor" ng-class="{'fridgeBack': $state.includes('home.fridge')}" title="Mike's Fridge"> Mike's Fridge </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="mob-spacer"></div>

<div class="nav navbar navbar-fixed-top mobile-nav" role="navigation" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')" ng-class="{'navbar-border': $state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')}">
  <div class="navContainer container-fixed">
    <div class="mobile-bars">
      <button slide-toggle="#mobile-nav-slide" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    <div class="navbar-mob-header">
      <a class="navbar-mob-brand" href="/">
        <span> mike<b>duin</b> :</span>
        <span ng-if="$state.includes('home.professional')" style="color: #2F5032; font-weight: 800"> portfolio </span>
        <span ng-if="$state.includes('home.about')" style="color: #24307A; font-weight: 800"> about </span>
        <span ng-if="$state.includes('home.ala')" style="color: #3984C5; font-weight: 800"> a level above </span>
        <span ng-if="$state.includes('home.fridge')" style="color: #7C0F09; font-weight: 800"> fridge </span>
        <span ng-if="$state.includes('home.music')" style="color: #452562; font-weight: 800"> music </span>
      </a>
      <div id="mobile-nav-slide" class="slideable">
        <a ui-sref="home.about" >
          <div class="mobile-nav-link nav-about">
            about
          </div>
        </a>
        <a ui-sref="home.professional">
          <div class="mobile-nav-link nav-work">
            portfolio
          </div>
        </a>
        <a href="http://photography.mikeduin.com/">
          <div class="mobile-nav-link nav-photo">
            photography
          </div>
        </a>
        <a ui-sref="home.ala.blog.main">
          <div class="mobile-nav-link nav-ala">
            a level above
          </div>
        </a>
        <a ui-sref="home.music">
          <div class="mobile-nav-link nav-music">
            music
          </div>
        </a>
        <a ui-sref="home.fridge">
          <div class="mobile-nav-link nav-fridge">
            mike's fridge
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>
