<div ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')" class="nav navbar navbar-fixed-top main-nav" id="navbar-top" role="navigation" ng-class="{'navbar-border': $state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')}">
  <div class="navContainer container-fixed">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded='false'><i class="fa fa-bars" aria-hidden="true"></i></button>
      <a class="navbar-brand" href="/">
        <span> mike<b>duin</b></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isCollapsed" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')">
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.about" id="aboutAnchor" ng-class="{'aboutBack': $state.includes('home.about')}" title="About"> About </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.professional" id="workAnchor" ng-class="{'workBack': $state.includes('home.professional')}" title="Professional"> Portfolio </a></li>
        <li> <a class="navlink" title="Photography" href="http://photography.mikeduin.com/"> Photography </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.ala.blog.main" id="alaAnchor" ng-class="{'alaBack': $state.includes('home.ala')}" title="A Level Above"> A Level Above </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.music" id="musicAnchor" ng-class="{'musicBack': $state.includes('home.music')}" title="Music"> Music </a></li>
        <li ng-click="vm.gotoId('navbar-top')"> <a class="navlink" ui-sref="home.fridge" id="fridgeAnchor" ng-class="{'fridgeBack': $state.includes('home.fridge')}" title="Mike's Fridge"> Mike's Fridge </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="mob-spacer"></div>

<div class="nav navbar mobile-nav" role="navigation" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')" ng-class="{'navbar-border': $state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')}">
  <div class="navContainer container-fixed">
    <div class="mobile-bars">
      <button ng-click="expand = !expand" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    <div class="navbar-mob-header slideDown">
      <a class="navbar-mob-brand" ng-click="expand = !expand">
        <span> mike<b>duin</b> :</span>
        <span ng-if="$state.includes('home.professional')" style="color: #2F5032; font-weight: 800"> portfolio </span>
        <span ng-if="$state.includes('home.about')" style="color: #24307A; font-weight: 800"> about </span>
        <span ng-if="$state.includes('home.ala')" style="color: #3984C5; font-weight: 800"> a level above </span>
        <span ng-if="$state.includes('home.fridge')" style="color: #7C0F09; font-weight: 800"> fridge </span>
        <span ng-if="$state.includes('home.music')" style="color: #452562; font-weight: 800"> music </span>
      </a>
      <div ng-class="{slideDown: expand}" class="nav-slide">
        <a ui-sref="home" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-home">
            home
          </div>
        </a>
        <a ui-sref="home.about" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-about">
            about
          </div>
        </a>
        <a ui-sref="home.professional" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-work">
            portfolio
          </div>
        </a>
        <a href="http://photography.mikeduin.com/" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-photo">
            photography
          </div>
        </a>
        <a ui-sref="home.ala.blog.main" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-ala">
            a level above
          </div>
        </a>
        <a ui-sref="home.music" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-music">
            music
          </div>
        </a>
        <a ui-sref="home.fridge" ng-click="expand = !expand">
          <div class="mobile-nav-link nav-fridge">
            mike's fridge
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="spacer" ng-show="$state.includes('home.professional') || $state.includes('home.ala') || $state.includes('home.fridge') || $state.includes('home.music') || $state.includes('home.about')"></div>
