<musicHeader class="col-md-12">
  <musicLead style="margin-top: 10px">
    Playlists
  </musicLead>
</musicHeader>

<musicIntro class="col-md-12 text-center">
  <hr>
  Tactfully crafted. Consistently maintained.
  <hr>
</musicIntro>

<explanation class="col-md-12">
  <p>
    These playlists are the soundtrack to my life. I love and listen to a lot of music, blah blah blah ... If you like what you hear, give 'em a Follow and add them to your own Spotify collection*.

    The playlists are ordered below by tempo -- from "deep contemplation" to "dance-like-a-crazy-person."

    *if you are a music fan and you don't have a Spotify Premium subscription, you're doing it wrong...
  </p>
</explanation>

<playlists class="col-md-12">
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A2AoP3MEHwNH3aEC7TfX7vB&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      soundscapes
    </name>
    <type class="col-md-8">
     ambient | orchestral | piano | post-rock | walls of sound
    </type>
    <description class="col-md-8">
      Good for studying, late-night relaxing, and contemplating the meaning of life. Much of this playlist is also great to fall asleep to; just don't be too surprised when a hard-hitting bridge from Sigur Ros or Explosions in the Sky wakes you from your slumber.
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0SRmtdlqCFFxVbwiEu9Dqr" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      53º
    </name>
    <type class="col-md-8">
      chill | downtempo electronica | deep house
    </type>
    <description class="col-md-8">
      Good for
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3HIuZQc2tDHvGjT9rwqJhA&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      children at play
    </name>
    <type class="col-md-8">
      acoustic | indie | singer-songwriter | mellow
    </type>
    <description class="col-md-8">
      For when you need to slow down. Populated with plenty of slow-moving acoustic guitars and gorgeous, melodic indie tracks.
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3IXc1FWVWXi9sgDHAZNxFm" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      sheep for wheat
    </name>
    <type class="col-md-8">
      alternative | indie | rock | electronic | upbeat | catch-all
    </type>
    <description class="col-md-8">
      Good for when you don't know what to listen to.
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0pdMvzAeEEFQLnAr21kkVq&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      LOHS Time Capsule
    </name>
    <type class="col-md-8">
      emo | pop-punk | circa 2003
    </type>
    <description class="col-md-8">
      Feel like taking a time-machine back to the angst-ridden, emotional roller coaster that was your adolescence? You've come to the right place. Building this playlist was an immensely rewarding journey back through my formative years. Songs are chronologically organized by album release date, and I stuck to a few rules: there could be no more than three songs from any one album, and that album had to have been released between 1998 and 2005. A full breakdown of the playlist's contents can be found <a href="https://docs.google.com/spreadsheets/d/1YPe3meN1KGyTjIrIpOrQI1YIyOhAyZ6T-SPYrUexXxI/edit#gid=0" target="_blank">here</a>.
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A1iITtTp447m2tmF6rl5KlQ" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      nTranced
    </name>
    <type class="col-md-8">
      progressive house | trance
    </type>
    <description class="col-md-8">
      Good for
    </description>
  </playlist>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A55HpVgWGnAJnVKz9mVoXVm&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      house party
    </name>
    <type class="col-md-8">
      house | party
    </type>
    <description class="col-md-8">
      Party bus-ready, dance tent-approved.
    </description>
  </playlist>
</playlists>

<div class="">

</div>
