<div class="row">
  <musicHeader class="col-xs-12">
    <musicLead style="margin-top: 10px">
      Playlists
    </musicLead>
  </musicHeader>
</div>

<div class="row">
  <musicIntro class="col-xs-12 text-center">
    <hr class="col-xs-4 col-xs-offset-4">
    <div class="col-xs-12">
      Tactfully crafted. Consistently maintained.
    </div>
    <hr class="col-xs-4 col-xs-offset-4">
  </musicIntro>
</div>


<explanation class="col-md-12">
  <p>
    These playlists are the soundtrack to my life. I love and listen to a lot of music, blah blah blah ... If you like what you hear, give 'em a Follow and add them to your own Spotify collection*.

    I've put my 15-20 favorite songs at the top of each playlist ... becuase that's how they're shown be default within Spotify's embedding and to give you an idea of how the rest of the playlist sounds.

    My playlists are my best friends, and they'd like to be friends with you, too.

    The playlists are ordered below by tempo -- from "deep contemplation" to "dance-like-a-crazy-person."

  </p>
</explanation>

<playlists>
  <playlist class="col-xs-12 soundscapes">
    <spotify class="col-xs-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A2AoP3MEHwNH3aEC7TfX7vB&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/2AoP3MEHwNH3aEC7TfX7vB" target="_blank" title="listen on spotify">soundscapes</a>
      </name>
      <type class="col-xs-12">
       ambient | orchestral | piano | post-rock | walls of sound
      </type>
      <description class="col-xs-12">
        This is music at its prettiest: ideal for studying, late-night relaxation/contemplation, or anytime you want to feel like you're living in a movie soundtrack.
      </description>
    </info>
  </playlist>
  <div class="col-xs-8 col-xs-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-xs-12">
    <spotify class="col-xs-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3HIuZQc2tDHvGjT9rwqJhA" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/3HIuZQc2tDHvGjT9rwqJhA" target="_blank" title="listen on spotify"> children at play</a>
      </name>
      <type class="col-xs-12">
        acoustic | indie | singer-songwriter | mellow
      </type>
      <description class="col-xs-12">
        For when you need to slow down. Stacked with slow-moving acoustic guitars and gorgeous, melodic indie tracks. My go-to playlist when I'm cooking dinner at home.
      </description>
    </info>
  </playlist>
  <div class="col-md-8 col-md-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-md-12 fifty-three">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0SRmtdlqCFFxVbwiEu9Dqr&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/0SRmtdlqCFFxVbwiEu9Dqr" target="_blank" title="listen on spotify"> 53º</a>
    </name>
    <type class="col-md-8">
      chill | downtempo electronica | deep house
    </type>
    <description class="col-md-8">
      A chilled-out, soothing electronic playlist that's great to listen to while you work; its tracks have enough energy to keep you upbeat and focused, but not so much as to make you want to go out and start pounding beers.
    </description>
  </playlist>
  <div class="col-md-8 col-md-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3IXc1FWVWXi9sgDHAZNxFm" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/3IXc1FWVWXi9sgDHAZNxFm" target="_blank" title="listen on spotify"> sheep for wheat</a>
    </name>
    <type class="col-md-8">
      alternative | indie | rock | electronic | upbeat | catch-all
    </type>
    <description class="col-md-8">
      This is an uber-playlist where I toss both songs that don't easily fit into one of the other playlists, and many others that do. Good when you don't know what to listen to or are in the company of friends with a variety of music tastes.
    </description>
  </playlist>
  <div class="col-md-8 col-md-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-md-12 rock-show">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0pdMvzAeEEFQLnAr21kkVq&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/0pdMvzAeEEFQLnAr21kkVq" target="_blank" title="listen on spotify"> LOHS Time Capsule</a>
    </name>
    <type class="col-md-8">
      emo | pop-punk | circa 2003
    </type>
    <description class="col-md-8">
      Feel like taking a time-machine back to the angst-ridden, emotional roller coaster that was your adolescence? You've come to the right place. Songs are <a href="https://docs.google.com/spreadsheets/d/1YPe3meN1KGyTjIrIpOrQI1YIyOhAyZ6T-SPYrUexXxI/edit#gid=0" target="_blank">chronologically ordered by album release date</a>, and I stuck to a few rules: there could be no more than three songs from any one album; that album had to have been released between 1998 and 2005; and any song that wasn't inherently whiny and introspective was disqualified.
    </description>
  </playlist>
  <div class="col-md-8 col-md-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-md-12">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A1iITtTp447m2tmF6rl5KlQ" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/1iITtTp447m2tmF6rl5KlQ" target="_blank" title="listen on spotify"> nTranced</a>
    </name>
    <type class="col-md-8">
      progressive house | trance
    </type>
    <description class="col-md-8">
      Uplifting, melodic electro beats in the spirit of Group Therapy. Do you ever see those people at concerts who are staring into the heavens with their eyes-closed, belting out lyrics at the top of their lungs? They actually probably have headphones in and are listening to this playlist.
    </description>
  </playlist>
  <div class="col-md-8 col-md-offset-2">
    <!-- <hr> -->
  </div>
  <playlist class="col-md-12 foundation">
    <spotify class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A55HpVgWGnAJnVKz9mVoXVm&theme=white" width="340" height="300" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <name class="col-md-8">
      <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/55HpVgWGnAJnVKz9mVoXVm" target="_blank" title="listen on spotify"> house party</a>
    </name>
    <type class="col-md-8">
      house | party
    </type>
    <description class="col-md-8">
      Party bus-ready ... dance tent-approved.
    </description>
  </playlist>
</playlists>

<div class="">

</div>
