<div class="row">
  <musicHeader class="col-xs-12">
    <musicLead style="margin-top: 10px">
      Playlists
    </musicLead>
  </musicHeader>
</div>

<div class="row">
  <musicIntro class="col-xs-12 text-center">
    <hr class="col-xs-4 col-xs-offset-4">
    <div class="col-xs-12">
      Tactfully crafted. Consistently maintained.
    </div>
    <hr class="col-xs-4 col-xs-offset-4">
  </musicIntro>
</div>

<explanation class="col-xs-12 music-text">
  <p>
    Music has always been the fuel that powers me through life, and these playlists are the vehicles that get me where I'm going on any given day. The seven playlists below are organized according to tempo -- from delicate and slow to hyperactive and intense -- and whether you're studying, working, exercising, or trying to turn your living room into a nightclub, there's likely something for you here (...unless your musical preferences consist solely of country music, in which case I'd advise you to run away from this page as fast as you can). I update these frequently, and I've put 10-15 of my favorite songs that I think best represent each playlist at the top of each to give you a good idea of the spoils contained therein. Beyond that, the shuffle button is your friend. Enjoy!
  </p>
</explanation>

<playlists>
  <playlist class="col-xs-12 soundscapes">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A2AoP3MEHwNH3aEC7TfX7vB&theme=white" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/2AoP3MEHwNH3aEC7TfX7vB" target="_blank" title="listen on spotify">soundscapes</a>
      </name>
      <type class="col-xs-12">
       ambient | orchestral | piano | post-rock | walls of sound
      </type>
      <description class="col-xs-12 music-text">
        Soundscapes is home to some of the most beautiful music ever made. Ideal for studying, late-night relaxation/contemplation, or anytime you want to feel like you're living in a movie soundtrack.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3HIuZQc2tDHvGjT9rwqJhA" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/3HIuZQc2tDHvGjT9rwqJhA" target="_blank" title="listen on spotify"> children at play</a>
      </name>
      <type class="col-xs-12">
        acoustic | indie | singer-songwriter | mellow
      </type>
      <description class="col-xs-12 music-text">
        A playlist for when you need to slow down. Stacked with slow-moving acoustic guitars and gorgeous, melodic indie tracks. My go-to when I'm cooking dinner at home.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12 fifty-three">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0SRmtdlqCFFxVbwiEu9Dqr&theme=white" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i> <a href="https://open.spotify.com/user/mike_duin/playlist/0SRmtdlqCFFxVbwiEu9Dqr" target="_blank" title="listen on spotify"> 53º</a>
      </name>
      <type class="col-xs-12">
        chill | downtempo electronica | deep house
      </type>
      <description class="col-xs-12 music-text">
        A chilled-out, soothing, mostly-electronic playlist that's great to listen to while you work; its tracks have enough energy to keep you upbeat and focused, but not so much as to make you want to go out and start pounding beers.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A3IXc1FWVWXi9sgDHAZNxFm" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/3IXc1FWVWXi9sgDHAZNxFm" target="_blank" title="listen on spotify"> sheep for wheat</a>
      </name>
      <type class="col-xs-12">
        alternative | indie | rock | electronic | upbeat | catch-all
      </type>
      <description class="col-xs-12 music-text">
        This is an uber-playlist for casual listening, home to both songs that don't easily fit into one of the other playlists and many others that have a home elsewhere on this page. Good for when you don't know what to listen to or are in the company of friends with a variety of music tastes.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12 rock-show">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A0pdMvzAeEEFQLnAr21kkVq&theme=white" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/0pdMvzAeEEFQLnAr21kkVq" target="_blank" title="listen on spotify"> LOHS Time Capsule</a>
      </name>
      <type class="col-xs-12">
        emo | pop-punk | circa 2003
      </type>
      <description class="col-xs-12 music-text">
        Feel like taking a time-machine back to the angst-ridden, emotional roller coaster that was your adolescence? You've come to the right place. Songs are <a href="https://docs.google.com/spreadsheets/d/1YPe3meN1KGyTjIrIpOrQI1YIyOhAyZ6T-SPYrUexXxI/edit#gid=0" target="_blank">chronologically ordered by album release date</a>, and I stuck to a few rules: there could be no more than three songs from any one album; that album had to have been released between 1998 and 2005; and any song that wasn't inherently whiny and introspective was disqualified.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A1iITtTp447m2tmF6rl5KlQ" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/1iITtTp447m2tmF6rl5KlQ" target="_blank" title="listen on spotify"> nTranced</a>
      </name>
      <type class="col-xs-12">
        progressive house | trance
      </type>
      <description class="col-xs-12 music-text">
        Uplifting, melodic electro beats in the spirit of <a href="http://www.aboveandbeyond.nu/abgt" target="_blank">Group Therapy</a>. Do you ever see those people at concerts who are staring into the heavens with their eyes-closed, belting out lyrics at the top of their lungs? That's basically how you're going to be feeling while listening to this playlist.
      </description>
    </info>
  </playlist>
  <playlist class="col-xs-12 foundation">
    <spotify class="col-xs-2 col-md-4 text-center">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amike_duin%3Aplaylist%3A55HpVgWGnAJnVKz9mVoXVm&theme=white" frameborder="0" allowtransparency="true"></iframe>
    </spotify>
    <info class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-0">
      <name class="col-xs-12">
        <i class="fa fa-headphones" aria-hidden="true"></i><a href="https://open.spotify.com/user/mike_duin/playlist/55HpVgWGnAJnVKz9mVoXVm" target="_blank" title="listen on spotify"> house party</a>
      </name>
      <type class="col-xs-12">
        house | party
      </type>
      <description class="col-xs-12 music-text">
        Party bus-ready ... dance tent-approved.
      </description>
    </info>
  </playlist>
</playlists>
