<div class="col-md-1">
  <socialBox class="col m9" style="margin-left: -10px">
    <ul style="margin-left: -42px">
      <li> <a href="https://twitter.com/mikeduin" alt="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li> <a href="https://www.instagram.com/mike_duin/" alt="Instagram"><i class="fa fa-instagram ig" aria-hidden="true"></i></a></li>
      <li> <a href="https://open.spotify.com/user/mike_duin" alt="Spotify"><i class="fa fa-spotify spot" aria-hidden="true"></i></a></li>
      <li> <a href="https://www.linkedin.com/in/mike-duin" alt="LinkedIn"><i class="fa fa-linkedin-square linked" aria-hidden="true"></i></a></li>
      <li> <a href="https://www.facebook.com/mikeduin" alt="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li> <a href="http://www.last.fm/user/mikeduin" alt="Lastfm"><i class="fa fa-lastfm-square last" aria-hidden="true"></i></a></li>
    </ul>
  </socialBox>
</div>

<div class="row">
  <div class="col m3">
    <webDevBubble class="col m12">

    </webDevBubble>
    <webDevP>
      <p class="col offset-m1">
        Web Developer
      </p>
    </webDevP>
  </div>

  <header class="col m4">
    <p class="center-align greeting"> One man. Many passions. </p>
    <p class="center-align lead"> Click below to learn more about me. </p>
  </header>

  <div class="col m3">
    <photoBubble class="col m12">
      <img src="/images/kophiphi.jpg" alt="Ko Phi Phi, Thailand" />
    </photoBubble>
    <photoP>
      <p class="col-md-offset-3">
        Photographer
      </p>
    </photoP>
  </div>
</div>

<div class="row">
  <div class="col m3 col offset-m1">
    <a ui-sref="home.ala">
      <commishBubble class="col m12">
        <img src="/images/alalakers.jpg" alt="ALA Fantasy Hoops, 2005-06" />
      </commishBubble>
      <commishP>
        <p class="col-md-offset-3">
          Commissioner
        </p>
      </commishP>
    </a>
  </div>
  <mainImg class="col-md-2">
    <img src="images/bmprof.jpg" alt="" />
  </mainImg>
  <div class="col m3 offset-m2">
    <musicBubble class="col m12">

    </musicBubble>
    <musicP>
      <p class="col-md-offset-3">
        Music Lover
      </p>
    </musicP>
  </div>
</div>

<div class="row">
  <div class="col m3 col-md-offset-5">
    <a ui-sref="home.fridge" style="color: #B23F3F">
      <beerBubble class="col m12">
        <img src="images/paradoxbeers2.jpg" alt="Paradox sours ... yum!" />
      </beerBubble>
      <beerP class="col m12">
        <p>
          Beer Connoisseur
        </p>
      </beerP>
    </a>
  </div>
</div>
