<proHeader class="col-xs-12">
  <div class="col-xs-2" style="padding-left: 0px">
    <alaLead style="margin-top: 10px">
      Work
    </alaLead>
  </div>
  <workLinks class="col-xs-offset-7 col-xs-1 text-center">
    <resume class="text-center">
      <a href="https://drive.google.com/file/d/0Bwq4DDNH39t8TFdCS1VWc0x1Z2M/view?usp=sharing" target="_blank">
        <img src="images/resume.jpg" alt="view mike's resume" class="resume-img"/>
        <p> Resume </p>
      </a>
    </resume>
  </workLinks>
  <workLinks class="col-xs-1 text-center">
    <linkedIn class="text-center">
      <a href="https://www.linkedin.com/in/mike-duin" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <p> LinkedIn </p>
      </a>
    </linkedIn>
  </workLinks>
  <workLinks class="col-xs-1 text-center">
    <gitHub class="text-center">
      <a href="https://github.com/mikeduin" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
        <p> GitHub </p>
      </a>
    </gitHub>
  </workLinks>

</proHeader>

<div class="row">
  <musicIntro class="col-xs-12 text-center work-intro">
    <hr class="col-xs-4 col-xs-offset-4">
    <div class="col-xs-12">
      Detail-obsessed. Something else.
    </div>
    <hr class="col-xs-4 col-xs-offset-4">
  </musicIntro>
</div>

<btbWork class="row">
  <btbHead class="col-xs-12">
    Battle the Bookies
  </btbHead>
</btbWork>
