<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> The PGA Majors Game ran from 2008-2010 but has been inactive in the years since. The premise of the game involved selecting a golfer from one of four tiers for each major; once a golfer was used in a major, he could not be used in another major that season. Golfers were then rewarded points based on how they finished in each major, and the sum of an entrant's golfers' scores for each major would be their total score for the game. Think this game is worthy of a triumphant comeback? Drop the Commish a line and let him know. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All <i> (game currently inactive) <i> </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> TBD (<i>previously $10, but would likely utilize the <a ui-sref="home.ala.buyins">dynamic buy-in system</a> with a $40 minimum buy-in if the game were ever revived</i>) </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
