<gameDetails class="col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> Though ALA Fantasy Hoops may be the godfather of A Level Above, <b>ALA Fantasy Baseball</b> can lay claim to being its most competitive league in the present day. The simple 5x5 Rotiserrie format has been in place since 2005; there is no H2H component and there are no playoffs, and there is beauty in that simplicity. That it's extremely rare for any manager to stop tending to his roster prior to the season's final day -- despite that marathon approach to scoring -- speaks to the league's collective passion; nearly every league member has gone on record in saying it's their favorite fantasy league that they play in. Simply put: this league is special.</td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Reserved </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $100, $175 or $250 per season, with incremental prizes/penalties depending on final finish. For more details, see ALA Buy-ins Explained. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Defending Champ </td>
        <td class="details text-left"> <b> ShrayDay </b> (Billy Schreyer) </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
