<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> ALA Fantasy Baseball </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> <b> Vandelay Industries </b> (Trevor Severeid / Andrew Lasseter) [2018]
      </div>
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.baseball.details" ng-class="{'activetab': $state.includes('home.ala.baseball.details')}" title="Details"> Details</a> </li>
    <li> <a ui-sref="home.ala.baseball.rankings" ng-class="{'activetab': $state.includes('home.ala.baseball.rankings')}" title="All-Time Rankings"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.baseball.podium" ng-class="{'activetab': $state.includes('home.ala.baseball.podium')}" title="The Podium"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.baseball.records" ng-class="{'activetab': $state.includes('home.ala.baseball.records')}" title="League Records"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
