<gameTitle class="col-md-10 text-center">
  <hr class="col-md-4 col-md-offset-4">
  <div class="col-md-12 gameTitle">
    <p> ALA Fantasy Baseball </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> <b> ShrayDay </b> (Billy Schreyer)
      </div>
    </defending>
  </div>
  <hr class="col-md-4 col-md-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.baseball.details" ng-class="{'activetab': $state.includes('home.ala.baseball.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.baseball.rankings" ng-class="{'activetab': $state.includes('home.ala.baseball.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.baseball.podium" ng-class="{'activetab': $state.includes('home.ala.baseball.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.baseball.records" ng-class="{'activetab': $state.includes('home.ala.baseball.records')}"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
