<podium class="col m10">
  <table class="col m12">
    <thead>
      <tr>
        <th class="center-align podium"> Season </th>
        <th class="podium"> 1st Place </th>
        <th class="podium"> 2nd Place </th>
        <th class="podium"> 3rd Place </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="results in vm.baseballPodium" class="podium">
        <td style="font-size: 18px" class="center-align podium">
          <i> {{results.season}} </i>
        </td>
        <td class="podium">
          <team> {{results.first_team}}</team> ({{results.first_owner}})
        </td>
        <td class="podium">
          <team> {{results.second_team}}</team> ({{results.second_owner}})
        </td>
        <td class="podium">
          <team> {{results.third_team}}</team> ({{results.third_owner}})
        </td>
      </tr>
    </tbody>
  </table>
</podium>
