<gameDetails class="col-xs-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> The NBA Playoffs Pool was one of the original ALA pool games, but has not been actively run since 2009, in part because the NBA Playoffs are about as predictable as professional sports playoffs can get and the pool lacked much excitement. There have been thoughts of reactivating the pool with some additional tweaks, such as incorporating picks. Would you be interested in participating in the NBA Playoffs Pool if it were revived? Drop the Commish a line and let him know. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All <i> (game currently inactive) <i> </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> TBD (<i>previously $10, but would likely utilize the <a ui-sref="home.ala.buyins">dynamic buy-in system</a> with a $40 minimum buy-in if the pool were ever revived</i>) </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
