<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> NBA Playoffs Pool </p>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.nbaplayoffs.details" ng-class="{'activetab': $state.includes('home.ala.nbaplayoffs.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.nbaplayoffs.details" ng-class="{'activetab': $state.includes('home.ala.nbaplayoffs.details')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.nbaplayoffs.podium" ng-class="{'activetab': $state.includes('home.ala.nbaplayoffs.podium')}"> The Podium</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="podium"> </div>
<div ui-view="rankings"> </div>
