<gameDetails class="col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> <b>ALA Fantasy Hoops</b>: the godfather of A Level Above. Since the inaugural season in 2002, ALA's founding fathers have competed in what may be A Level Above's most symbollically important league. Though the league format has undergone a few changes over the years, the current format (in place since 2010) is a two-tiered, eight-category 'Power Rankings' Rotisserie system in which equal weight is given to (a) H2H Record and (b) Roto Score. Like most ALA Fantasy Leagues, there are no playoffs, as the league members have always believed that overall season-long performance should matter more than who might catch a few lucky breaks at the end of the season.</td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Reserved </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $100 or $250 per season, with incremental prizes/penalties depending on final finish. For more details, see ALA Buy-ins Explained. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Defending Champ </td>
        <td class="details text-left"> <b> Seattle Supersonics </b> (2x) Dan Goldman </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
