<gameTitle class="col-md-10 text-center">
  <hr style="margin-top: 5px; margin-bottom: 5px">
  <p> ALA Fantasy Baseball </p>
  <hr>
</gameTitle>

<gameNav class="col-md-10 text-center">
  <ul>
    <li> <a ui-sref="home.ala.baseball.details" ng-class="{'activetab': $state.includes('home.ala.baseball.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.baseball.rankings" ng-class="{'activetab': $state.includes('home.ala.baseball.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.baseball.records" ng-class="{'activetab': $state.includes('home.ala.baseball.records')}"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
