<addBeer class="col-md-6" >
  <heading class="row">
    <div class="text-center">
      Add a Beer
    </div>    
  </heading>
  <addForm>
    <form id="addBeer" method="post" action="/beers" class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 text-right"> Beer Name </label>
        <div class="col-md-8">
          <input type="text" name="name" class="form-control"/>
          <!-- Code this one below to take name of beer and remove spaces -->
          <input type="hidden" name="beername" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Brewery </label>
        <div class="col-md-8">
          <input type="text" name="brewery" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Style </label>
        <div class="col-md-8">
          <input type="text" name="style" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> ABV </label>
        <div class="col-md-2">
          <input type="number" step="0.1" name="abv" class="form-control"/>
        </div>
        <label class="col-md-3 text-right"> Cold? </label>
        <div class="col-md-3">
          <select id="coldSelect" name="cold">
            <option value="false"> No </option>
            <option value="true"> Yes </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Quantity </label>
        <div class="col-md-2">
          <input type="number" name="quantity" class="form-control"/>
        </div>
        <label class="col-md-3 text-right"> Price </label>
        <div class="col-md-2">
          <input type="number" name="price" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Image URL </label>
        <div class="col-md-8">
          <input type="url" name="image" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Ordered </label>
        <div class="col-md-8">
          <input type="date" name="date" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Size </label>
        <div class="col-md-8">
          <input type="text" name="size" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right"> Description </label>
        <div class="col-md-8">
          <textarea name="description" rows="5" class="form-control"> </textarea>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-large btn-danger"> Add Beer!</button>
      </div>
    </form>
  </addForm>

</addBeer>
