<beerDetail class="col-xs-6 text-center fixed">
  <div class="row">
    <a ui-sref="home.fridge.edit({beername: vm.beer.beername})"> <name> {{vm.beer.name}} </name> </a>
  </div>
  <div class="row">
    <brewery> <i class="fa fa-beer" aria-hidden="true"></i> {{vm.beer.brewery}} </brewery>
  </div>
  <div class="row">
    {{vm.beer.style}}  <b> | </b> {{vm.beer.abv}}% ABV <b> | </b> {{vm.beer.size}} <b> | </b> ${{vm.beer.price}}
  </div>
  <div class="row">
    Mike has {{vm.beer.quantity}} <ng-pluralize count="vm.beer.quantity" when="{'1': 'bottle', 'other':'bottles'}"></ng-pluralize>
  </div>
  <div class="row">
    Ordered: {{vm.beer.ordered | date: 'longDate'}} <b> | </b>
      <span ng-if="vm.beer.cold === true && vm.beer.quantity !== 0"> This beer is currently <span class="cold"> COLD<i class="fa fa-exclamation" aria-hidden="true"></i> </span> </span>
      <span ng-if="vm.beer.cold !== true && vm.beer.quantity !== 0"> This beer is currently <span class="cellared"> cellared</span> </span>
      <span ng-if="vm.beer.quantity === 0"> This bottle is currently <span class="cellared"> EMPTY.</span> It was delicious! </span>
  </div>
  <div class="row">
    <button ng-if="vm.beer.cold !== true && vm.beer.quantity !== 0" type="button" name="button" class="btn fridgeme" ng-click="vm.fridgeRequest = !vm.fridgeRequest"> FRIDGE ME!</button>
  </div>
  <div class="row" ng-if="vm.fridgeRequest === true">
    <form id="fridgeForm" class="form-inline">
      <div class="form-group">
        <label for="req-name">Who are you?</label>
        <input type="text" class="form-control" ng-model="vm.reqName" name="name">
      </div>
      <div class="form-group">
        <label for="req-eta">What's your ETA?</label>
        <input type="text" class="form-control" ng-model="vm.reqETA" id="req-eta">
      </div>
      <button type="button" class="btn btn-primary" ng-click="vm.requestBeer(vm.beer, vm.reqName, vm.reqETA)"><b>SEND FRIDGE REQUEST</b></button>
    </form>
  </div>
  <div class="row text-center .fridge-success" ng-if="vm.fridgeSuccess">
    <b><span class="fridge-success">SUCCESS!</span> Mike has received your request and your beer will be cold soon.</b>
  </div>
  <div class="row">
    <beerImage class="col-xs-3">
      <img src="{{vm.beer.image}}" alt="" />
    </beerImage>
    <description class="col-xs-9 text-left">
      <b> Courtesy of <a href="https://www.tavour.com/?invitedby=7020" target="_blank">Tavour</a></b>: "{{vm.beer.description}}"
    </description>
  </div>
</beerDetail>
