<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> NFL Confidence Pool </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> Nick Gardner
      </div>
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.confidence.details" ng-class="{'activetab': $state.includes('home.ala.confidence.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.confidence.rankings" ng-class="{'activetab': $state.includes('home.ala.confidence.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.confidence.podium" ng-class="{'activetab': $state.includes('home.ala.confidence.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.confidence.yoy" ng-class="{'activetab': $state.includes('home.ala.confidence.yoy')}"> YoY Progression</a> </li>
    <li> <a ui-sref="home.ala.confidence.records" ng-class="{'activetab': $state.includes('home.ala.confidence.records')}"> Game Records</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
<div ui-view="yoy"> </div>
