<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle" style="color: #21a840">
    <img class="game-logo" src='https://s3.us-west-2.amazonaws.com/mikeduin.com/logo_nfl_confidence_big_transparent.png' />
    <p> NFL Confidence Pool </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> <i class="fa fa-trophy" aria-hidden="true"></i> <span style="color: #21a840"><b>Jason Gnich</b></span> (2024)
      </div>
      <!-- <div class="join-pool" style="color: #21a840">
        !-- <b><a href="http://alanflconfidence21.football.cbssports.com/e/b1c685e43553404a454571a35de1591f7c1efd6b1c577b7869a12ae4620d92e4?ttag=FFBC21_cpy_invite_new_mt" target="_blank">Click here</a> to join the 2021 NFL Confidence Pool!</b> --!
      </div> -->
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.confidence.details" ng-class="{'activetab': $state.includes('home.ala.confidence.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.confidence.rankings" ng-class="{'activetab': $state.includes('home.ala.confidence.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.confidence.podium" ng-class="{'activetab': $state.includes('home.ala.confidence.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.confidence.yoy" ng-class="{'activetab': $state.includes('home.ala.confidence.yoy')}"> Prize Progression</a> </li>
    <li> <a ui-sref="home.ala.confidence.records" ng-class="{'activetab': $state.includes('home.ala.confidence.records')}"> Game Records</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
<div ui-view="yoy"> </div>
