<podium class="col-xs-9 col-md-10">
  <table class="col-xs-12">
    <thead>
      <tr>
        <th class="text-center podium"> Season </th>
        <th class="podium"> 1st Place </th>
        <th class="podium"> 2nd Place </th>
        <th class="podium"> 3rd Place </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="results in vm.confidencePodium" class="podium">
        <td style="font-size: 18px" class="text-center podium">
          <i> {{results.season}} </i>
        </td>
        <td class="podium">
          <team> {{results.first_team}}</team> <span ng-if="results.first_owner"> ({{results.first_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.second_team}}</team> <span ng-if="results.first_owner"> ({{results.second_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.third_team}}</team> <span ng-if="results.first_owner"> ({{results.third_owner}}) </span>
        </td>
      </tr>
    </tbody>
  </table>
</podium>
