<rankings class="col-xs-10">
  <p>
    Below you will find the current All-Time Rankings for the NFL Confidence Pool. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/1hnpwjrWt83NOrlfY8p_DS6EcMKvVy08yNMVu3ZKzF4M/edit?usp=sharing" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: Entrants are divided into two tiers: (a) those who have played in 3+ seasons and (b) those who have played in one or two seasons. Within those tiers, entrants are ranked by "% of Opponents Defeated." This was determined to be the most fair methodology (as opposed to Average Score per Season) due to potential intraseason variance that would favor entrants who participated in years in which more 'likely' results occured (which would lead to higher Confidence scores throughout that season's pool).
  </p>

  <iframe height="800" width="96%" style="margin-left: 2%" src="https://docs.google.com/spreadsheets/d/1hnpwjrWt83NOrlfY8p_DS6EcMKvVy08yNMVu3ZKzF4M/pubhtml?widget=true&amp;headers=false"></iframe>
</rankings>
