<gameDetails class="col m10">
  <table>
    <thead>
      <tr>
        <th class="col m3"></th>
        <th class="col m9 left-align"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary right-align" style="padding-top:0px"> What's the Deal?</td>
        <td class="details left-align" style="padding-top:0px"> The <b>NCAA March Madness Pool</b> is A Level Above's most popular game and hosts more than 400 entrants annually. Scoring is traditional, with each correct pick in the first round earning an entrant one (1) point and correct picks doubling in value in each successive round until a correct Championship pick is worth 32 points. </td>
      </tr>
      <tr>
        <td class="summary right-align"> Entry </td>
        <td class="details left-align"> Open to All </td>
      </tr>
      <tr>
        <td class="summary right-align"> Buy-in </td>
        <td class="details left-align"> $15 per bracket. Max of two brackets per entrant. Top 15 finishers are paid out, plus a prize for the most correct first-round picks.</td>
      </tr>
    </tbody>
  </table>
</gameDetails>
