<rankings class="col-xs-10">
  <p>
    Below you will find the current All-Time Rankings for the ALA March Madness Pool. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/1L8f_erDr2XQRXU_9DGwGZmb0t-gxSDOHniofiCMGD-8/edit#gid=651901097" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: After what can only be described as a depressing amount of analysis and consideration, these rankings have recently been restructured as follows: First, entrants are divided into two tiers. To qualify for the "A"/primary-ranking tier, an entrant must have both (a) at least four brackets/entries to their name in the pool's history, and (b) have entered the pool in at least three separate years. From there, entrants are now ranked by the '% of Pool Defeated' in their careers. Previously, entrants were ranked by Average Score, but this methodology inflated the relative ranking of entrants who participated in the pool in years in which more likely results took place (or in which more "chalk" or higher seeds prevailed). The goal with these rankings is to evaluate an entrant's performance relative to their competition, and ranking by the relative number of opponents defeated accomplishes that.
  </p>


  <iframe height="800" width="96%" style="margin-left: 2%" src="https://docs.google.com/spreadsheets/d/1L8f_erDr2XQRXU_9DGwGZmb0t-gxSDOHniofiCMGD-8/pubhtml?widget=true&amp;headers=false&z=7"></iframe>
</rankings>
