<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> <b>NFL Battle the Bookies</b> is an extreme test of NFL handicapping ability. In this game, each entrant is required to make a <b>fake</b> $100 bet on <u>each</u> game in the NFL season by betting on one of the four <b><i>side</b></i> outcomes (either team's <b>moneyline</b> or <b>point spread</b>) or one of the two <b><i>total</b></i> outcomes (over or under the amount of total points scored by both teams). Whoever has accumulated the most fake dollars at the end of the NFL season wins the pool. For a more detailed view of how the game works, please take a look at <a href="https://docs.google.com/spreadsheets/d/1R3z_9UJcxoNLwwQ8r-VZSdlqp3YFJPU__GxJyvpP3yc/edit#gid=2089937777" target="_blank">last year's scorecard</a> (and note the different tabs for each week's selections). </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $50, $100, or $200. Multiple places are paid out for each buy-in tier. For more details, please see <a ui-sref="home.ala.buyins">ALA Buy-ins Explained</a>. </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
