<gameTitle class="col-md-10 text-center">
  <hr style="margin-top: 5px; margin-bottom: 5px">
  <p> NFL Battle the Bookies </p>
  <hr>
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.btb.details" ng-class="{'activetab': $state.includes('home.ala.btb.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.btb.rankings" ng-class="{'activetab': $state.includes('home.ala.btb.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.btb.podium" ng-class="{'activetab': $state.includes('home.ala.btb.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.btb.yoy" ng-class="{'activetab': $state.includes('home.ala.btb.yoy')}"> YoY Progression</a> </li>
    <li> <a ui-sref="home.ala.btb.records" ng-class="{'activetab': $state.includes('home.ala.btb.records')}"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
<div ui-view="yoy"> </div>
