<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> NFL Battle the Bookies </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> Aaron Levinger (2019)
      </div>
      <!-- <div class="join-pool">
        !-- <b><a href="http://www.alabattlethebookies.com" target="_blank">Click here</a> to join the 2018 NFL Battle the Bookies Pool!</b> --!
      </div> -->
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.btb.details" ng-class="{'activetab': $state.includes('home.ala.btb.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.btb.rankings" ng-class="{'activetab': $state.includes('home.ala.btb.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.btb.podium" ng-class="{'activetab': $state.includes('home.ala.btb.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.btb.yoy" ng-class="{'activetab': $state.includes('home.ala.btb.yoy')}"> Prize Progression</a> </li>
    <li> <a ui-sref="home.ala.btb.records" ng-class="{'activetab': $state.includes('home.ala.btb.records')}"> Game Records</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
<div ui-view="yoy"> </div>
