/*ALA Styles*/

.join-pool {
  color: #7C0F09;
}

.fa-caret-down {
  font-size: 2vw;
}

alaHeader {
  display: inline-block;
  background-color: black;
  border-radius: 0.3vw;
  border-top: solid 3px #3984C5;
  border-bottom: solid 3px #3984C5;
}

alaLogin {
  background-color: #CDCACA;
  height: 30px;
  border-bottom: solid 1px #A19E9E;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

alaLead {
  font-weight: 800;
  color: white;
  font-size: 4vw;
  margin-left: 0.5vw;
}

alaLinks a {
  font-size: 2vw;
  margin-left: 3.125vw;
  font-weight: 600;
}

alaLinks a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

alaLinks a:focus {
  color: white;
  text-decoration: none;
}

.activeLink {
  color: white;
  font-weight: 800;
}

alaSidebar {
  margin-top: 2.5vw;
  padding-left: 0;
  display: inline-block;
  border-right: solid 0.625vw #DEDFE1;
  border-top: solid 0.625vw #DEDFE1;
  border-bottom: solid 0.625vw #DEDFE1;
}

alaSidebar ul {
  list-style-type: none;
  margin-left: -3.75vw;
}

alaSidebar ul li:hover {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

alaSidebar ul li a:hover {
  text-decoration: none;
  color: black;
}

a.gamepage:hover {
  color: #DC5623;
}

a.gamepage:focus {
  color: #DC5623;
  text-decoration: none;
}

.disclaimer {
  font-size: 0.75vw;
  border-bottom: solid #EEEEEE 1px;
  padding-bottom: 8px;
}

.disclaimer:hover {
  font-weight: inherit;
  text-decoration: inherit;
  cursor: default;
}

alaSidebar ul li {
  border-top: solid #EEEEEE 1px;
  padding-top: 0.4vw;
}

alaSidebar ul li span {
  font-size: 1.25vw;
  color: #3984C5;
  font-weight: bold;
}

alaSidebar ul img {
  max-width: 2.5vw;
  padding-bottom: 0.5vw;
}

alaSidebar a {
  font-size: 1.4vw;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition-property: color;
  color: black;
}

.subleague {
  font-size: 1.25vw;
  font-style: italic;
  font-weight: 600;
  color: #337AB7;
  margin-left: 0.7vw;
}

.hoops-sub {
  margin-left: 0.7vw;
}

.submenu {
  border-top: none;
  padding-top: 1vw;
  margin-left: 2vw;
}

.activeGame {
  font-weight: bold;
  color: #DC5623;
}

.gamepage {
  font-size: 1.25vw;
  font-weight: 600;
}

.multigame {
  margin-left: -4.7vw;
}

.dropdown-styles {
  margin-top: 1.57vw;
  background-color: #3984C5;
  font-size: 1.25vw;
  border: solid 2px black;
}

.dropdown-styles li a {
  font-weight: 600;
  color: white;
}

.active-players {
  font-weight: 800px;
  color: white;
}

.football-table {
  margin-bottom: 1vw;
}

.hof-table {
  margin-bottom: 2.5vw;
}

/*ALA About + Contact Styles*/

about div {
  font-size: 3.75vw;
  color: #3984C5;
  font-weight: 600;
}

about div span {
  color: #DC5623;
  font-weight: 800;
}

about div i {
  color: #C5C6C7;
}

.aboutDesc {
  font-size: 1.4vw;
  padding-left: 1%;
  padding-right: 1%;
}

#contact-form div {
  margin-top: 2%;
}

#contact-form textarea {
  height: 13vw;
}

#contact-form button {
  background-color: #3984C5;
  color: white;
  margin-bottom: 3%;
}

/*ALA Blog + Buyins + Players + Photos Styles*/

entry {
  display: inline-block;
}

explained div {
  margin-left: 5%;
}

blogMainDiv {
  display: inline-block;
}

blogEntries {
  margin-top: 1%
}

blogFilter {
  padding-bottom: 0.5vw;
  font-weight: 600;
  font-size: 1.5vw;
  color: #848484;
}

.filter-text {
  margin-top: 0.2vw;
}

blog div p {
  font-size: 7vw;
  font-weight: 800;
  color: #3984C5;
}

careerData div p {
  font-size: 4.75vw;
  font-weight: 800;
  color: #3984C5;
}

careerData span {
  margin-top: 15%;
}

.career-subhead {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 0.7vw;
  color: black;
}

.career-subtext {
  font-size: 1.2vw;
  font-style: italic;
  margin-top: 0.7vw;
  color: black;
  font-weight: 400;
}

blog div span {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: bold;
}

blogImage {
  display: inline-block;
  padding-right: 3px;
  margin-right: 0.5vw;
  max-height: 100%;
  max-width: 100%;
}

.caption {
  font-size: 1vw;
  font-weight: bold;
}

blogHeader a {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

blogHeader div {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

blogDate {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: bold;
}

blogTags {
  margin-top: 0.4vw;
}

blogTags tag {
  border: solid 1px #DEDFE1;
  border-radius: 1.85vw;
  background-color: #3E8ED6;
  color: white;
  margin-right: 0.4vw;
  padding: 0.4vw;
  font-size: 1vw;
}

addPost lead div {
  margin-top: 1.57vw;
  font-size: 1.75vw;
  color: #3984C5;
  font-weight: 600;
}

.buyinHeader {
  margin-top: -1.57vw;
  margin-bottom: -1.57vw;
  font-size: 3.75vw;
  font-weight: 800;
  color: #337AB7;
}

buyins div explained p {
  font-size: 1.4vw;
  font-weight: 400;
}

buyins prizeDiv {
  margin-top: 1vw;
}

.buyin-exp-header {
  color: #DC5623;
  font-weight: 700;
  font-size: 2vw;
}

.how-to-pay {
  margin-top: -3%;
}

.exptwo {
  margin-top: 1.24vw;
  margin-bottom: 3.125vw;
}

.fa-microphone, .fa-database, .fa-credit-card, .fa-trophy, .fa-star, .fa-camera, .fa-envelope, .fas {
  color: #C5C6C7;
}

playersIntro {
  font-size: 1.5vw;
}

balances {
  margin-bottom: 0.5vw;
  margin-top: -0.5vw;
}

balances a {
  font-size: 2vw;
}

photoHeader {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

.photoCaption {
  font-size: 1.5vw;
  color: #DC5623;
  font-weight: 800;
}

photoRow {
  margin-top: 2%;
}

photoRow img {
  max-width: 100%;
  max-height: 18vw;
  box-shadow: 0 1px 0.625vw black;
}

photoRow img:hover {
  opacity: 0.8;
}

.photo-section {
  margin-top: 2%;
}

.photo-cat {
  color: black;
}

/*ALA Game Page Styles*/

gameTitle {
  margin-top: 1vw;
  font-size: 5vw;
  font-weight: 800;
  color: #DC5623;
}

.gameTitle {
  margin-bottom: -1vw;
}

gameTitle hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

gameTitle defending {
  font-size: 1.25vw;
  color: black;
  font-weight: 400;
}

gameTitle defending div {
  margin-bottom: 1vw;
}

gameTitle defending span {
  font-size: 1.57vw;
}

gameNav ul {
  list-style-type: none;
  margin-bottom: 2.5vw;
  margin-top: 1vw;
  font-size: 1.3vw;
}

gameNav ul li{
  display: inline;
  margin-left: 1.57vw;
}

gameNav ul li a:focus{
  text-decoration: none;
}

.summary {
  font-size: 2vw;
  font-weight: 800;
  padding-right: 1.57vw;
  padding-top: 1vw;
}

.champ-summary {
  font-size: 1.3vw;
  color: black;
  font-weight: 400;
}

.details {
  border-left: solid 1px #337AB7;
  font-size: 1.4vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

.activetab {
  font-weight: 800;
  font-size: 1.57vw;
  text-decoration: none;
}

rankings p {
  font-size: 1.25vw;
}

rankings iframe {
  margin-top: 2.5vw;
}

podium > table {
  border: solid 0.4vw black;
  margin-top: -1vw;
}

podium th {
  font-size: 2vw;
  background-color: #DCDCDD;
}

.podium {
  border: solid 2px black;
  padding-left: 0.4vw;
}

podium team {
  color: #337AB7;
  font-weight: bold;
  font-size: 1.25vw;
}

podium score {
  color: #DC5623;
  font-weight: bold;
  font-size: 1.25vw;
}

podium tbody {
  font-size: 1vw;
}

gameDetails {
  margin-bottom: 2.5vw;
}

gameDetails table {
  border: none;
}

league {
  padding-bottom: 1vw;
  font-size: 2.3vw;
  font-weight: 800;
  color: #DC5623;
}

.cdl-const {
  margin-top: -1.57vw;
}

lg {
  color: #DC5623;
  font-weight: 600;
}

disclaimer {
  text-align: right;
  font-size: 1vw;
}

.bracket-info {
  padding-top: 1.57vw;
  font-size: 1.25vw;
}

.det-expand:hover {
  cursor: pointer;
}

.profits {
  color: #DC5623;
}

.prizes {
  color: black;
  font-weight: 700;
}

.entrant {
  font-size: 1.5vw;
  font-weight: 800;
  color: #3984C5;
}

.summary {
  font-size: 1.6vw;
  font-weight: 800;
  color: black;
}

.table-pad {
  padding: 1%
}

.game-name {
  color: #DC5623;
  font-weight: 800;
  font-size: 1.8vw;
}

.title-year {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3vw;
}

/*db styles*/
.add-btn {
  margin-top: 10px
}

dbsearch {
  color: #DC5623;
  text-transform: uppercase;
}

search > select {
  color: black;
}

filter {
  display: block;
  font-weight: 800;
  font-size: 3vw;
}

.grid-cen {
  border-left: solid 1px #C2C2C2;
  border-right: solid 1px #C2C2C2;
}

.res-grid {
  margin-top: 10px;
  margin-left: 1%;
}

/* Userpage Styles */
user div p {
    font-size: 4vw;
    font-weight: 800;
    color: #3984C5;
}

.user-header {
  padding: 0 10px;
}

loginReq div {
  font-size: 2vw;
  margin-top: 50px;
}

/* FIFA World Cup Bracket Styles */

.group-box {
  border: solid 3px black;
}

.wc-banner {
  margin: 20px 0px;
}

.group-grid {
  margin-top: 30px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
