/*ALA Styles*/

.join-pool {
  color: #7C0F09;
}

.fa-caret-down {
  font-size: 2vw;
}

alaHeader {
  display: inline-block;
  -webkit-background-color: blue;
  background-color: black;
  border-radius: 0.3vw;
  border-top: solid 3px #3984C5;
  border-bottom: solid 3px #3984C5;
}

alaLogin {
  background-color: #CDCACA;
  height: 30px;
  border-bottom: solid 1px #A19E9E;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  color: #DA562E;
  cursor: pointer;
}

.mid-bar {
  margin: 5px;
}

alaLead {
  font-weight: 800;
  color: white;
  font-size: 4vw;
  margin-left: 0.5vw;
}

alaLinks a {
  font-size: 2vw;
  margin-left: 3.125vw;
  font-weight: 600;
}

alaLinks a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

alaLinks a:focus {
  color: white;
  text-decoration: none;
}

.activeLink {
  color: white;
  font-weight: 800;
}

alaSidebar {
  margin-top: 2.5vw;
  padding-left: 0;
  display: inline-block;
  border-right: solid 0.625vw #DEDFE1;
  border-top: solid 0.625vw #DEDFE1;
  border-bottom: solid 0.625vw #DEDFE1;
}

alaSidebar ul {
  list-style-type: none;
  margin-left: -3.75vw;
}

alaSidebar ul li:hover {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

alaSidebar ul li a:hover {
  text-decoration: none;
  color: black;
}

a.gamepage:hover {
  color: #DC5623;
}

a.gamepage:focus {
  color: #DC5623;
  text-decoration: none;
}

.disclaimer {
  font-size: 0.75vw;
  border-bottom: solid #EEEEEE 1px;
  padding-bottom: 8px;
}

.disclaimer:hover {
  font-weight: inherit;
  text-decoration: inherit;
  cursor: default;
}

alaSidebar ul li {
  border-top: solid #EEEEEE 1px;
  padding-top: 0.4vw;
}

alaSidebar ul li span {
  font-size: 1.25vw;
  color: #3984C5;
  font-weight: bold;
}

alaSidebar ul img {
  max-width: 2.5vw;
  padding-bottom: 0.5vw;
}

alaSidebar a {
  font-size: 1.4vw;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition-property: color;
  color: black;
}

.subleague {
  font-size: 1.25vw;
  font-style: italic;
  font-weight: 600;
  color: #337AB7;
  margin-left: 0.7vw;
}

.hoops-sub {
  margin-left: 0.7vw;
}

.submenu {
  border-top: none;
  padding-top: 1vw;
  margin-left: 2vw;
}

.activeGame {
  font-weight: bold;
  color: #DC5623;
}

.gamepage {
  font-size: 1.25vw;
  font-weight: 600;
}

.multigame {
  margin-left: -4.7vw;
}

.dropdown-styles {
  margin-top: 1.57vw;
  background-color: #3984C5;
  font-size: 1.25vw;
  border: solid 2px black;
}

.dropdown-styles li a {
  font-weight: 600;
  color: white;
}

.active-players {
  font-weight: 800px;
  color: white;
}

.football-table {
  margin-bottom: 1vw;
}

.hof-table {
  margin-bottom: 2.5vw;
}

/*ALA About + Contact Styles*/

about div {
  font-size: 3.75vw;
  color: #3984C5;
  font-weight: 600;
}

about div span {
  color: #DC5623;
  font-weight: 800;
}

about div i {
  color: #C5C6C7;
}

.aboutDesc {
  font-size: 1.4vw;
  padding-left: 1%;
  padding-right: 1%;
}

#contact-form div {
  margin-top: 2%;
}

#contact-form textarea {
  height: 13vw;
}

#contact-form button {
  background-color: #3984C5;
  color: white;
  margin-bottom: 3%;
}

/*ALA Blog + Buyins + Players + Photos Styles*/

entry {
  display: inline-block;
}

explained div {
  margin-left: 5%;
}

blogMainDiv {
  display: inline-block;
}

blogEntries {
  margin-top: 1%
}

blogFilter {
  padding-bottom: 0.5vw;
  font-weight: 600;
  font-size: 1.5vw;
  color: #848484;
}

.filter-text {
  margin-top: 0.2vw;
}

blog div p {
  font-size: 7vw;
  font-weight: 800;
  color: #3984C5;
}

careerData div p {
  font-size: 4.75vw;
  font-weight: 800;
  color: #3984C5;
}

careerData span {
  margin-top: 15%;
}

.career-subhead {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 0.7vw;
  color: black;
}

.career-subtext {
  font-size: 1.2vw;
  font-style: italic;
  margin-top: 0.7vw;
  color: black;
  font-weight: 400;
}

blog div span {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: bold;
}

blogImage {
  display: inline-block;
  padding-right: 3px;
  margin-right: 0.5vw;
  max-height: 100%;
  max-width: 100%;
}

.caption {
  font-size: 1vw;
  font-weight: bold;
}

blogHeader a {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

blogHeader div {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

blogDate {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: bold;
}

blogTags {
  margin-top: 0.4vw;
}

blogTags tag {
  border: solid 1px #DEDFE1;
  border-radius: 1.85vw;
  background-color: #3E8ED6;
  color: white;
  margin-right: 0.4vw;
  padding: 0.4vw;
  font-size: 1vw;
}

addPost lead div {
  margin-top: 1.57vw;
  font-size: 1.75vw;
  color: #3984C5;
  font-weight: 600;
}

.buyinHeader {
  margin-top: -1.57vw;
  margin-bottom: -1.57vw;
  font-size: 3.75vw;
  font-weight: 800;
  color: #337AB7;
}

buyins div explained p {
  font-size: 1.4vw;
  font-weight: 400;
}

buyins prizeDiv {
  margin-top: 1vw;
}

.buyin-exp-header {
  color: #DC5623;
  font-weight: 700;
  font-size: 2vw;
}

.how-to-pay {
  margin-top: -3%;
}

.exptwo {
  margin-top: 1.24vw;
  margin-bottom: 3.125vw;
}

.fa-microphone, .fa-database, .fa-credit-card, .fa-trophy, .fa-star, .fa-camera, .fa-envelope, .fas {
  color: #C5C6C7;
}

playersIntro {
  font-size: 1.5vw;
}

balances {
  margin-bottom: 0.5vw;
  margin-top: -0.5vw;
}

balances a {
  font-size: 2vw;
}

photoHeader {
  font-size: 2vw;
  color: #DC5623;
  font-weight: 800;
}

.photoCaption {
  font-size: 1.5vw;
  color: #DC5623;
  font-weight: 800;
}

photoRow {
  margin-top: 2%;
}

photoRow img {
  max-width: 100%;
  max-height: 18vw;
  box-shadow: 0 1px 0.625vw black;
}

photoRow img:hover {
  opacity: 0.8;
}

.photo-section {
  margin-top: 2%;
}

.photo-cat {
  color: black;
}

/*ALA Game Page Styles*/

gameTitle {
  margin-top: 1vw;
  font-size: 5vw;
  font-weight: 800;
  color: #DC5623;
}

.gameTitle {
  margin-bottom: -1vw;
}

gameTitle hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

gameTitle defending {
  font-size: 1.25vw;
  color: black;
  font-weight: 400;
}

gameTitle defending div {
  margin-bottom: 1vw;
}

gameTitle defending span {
  font-size: 1.57vw;
}

gameNav ul {
  list-style-type: none;
  margin-bottom: 2.5vw;
  margin-top: 1vw;
  font-size: 1.3vw;
}

gameNav ul li{
  display: inline;
  margin-left: 1.57vw;
}

gameNav ul li a:focus{
  text-decoration: none;
}

.summary {
  font-size: 2vw;
  font-weight: 800;
  padding-right: 1.57vw;
  padding-top: 1vw;
}

.champ-summary {
  font-size: 1.3vw;
  color: black;
  font-weight: 400;
}

.details {
  border-left: solid 1px #337AB7;
  font-size: 1.4vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

.activetab {
  font-weight: 800;
  font-size: 1.57vw;
  text-decoration: none;
}

rankings p {
  font-size: 1.25vw;
}

rankings iframe {
  margin-top: 2.5vw;
}

podium > table {
  border: solid 0.4vw black;
  margin-top: -1vw;
}

podium th {
  font-size: 2vw;
  background-color: #DCDCDD;
}

.podium {
  border: solid 2px black;
  padding-left: 0.4vw;
}

podium team {
  color: #337AB7;
  font-weight: bold;
  font-size: 1.25vw;
}

podium score {
  color: #DC5623;
  font-weight: bold;
  font-size: 1.25vw;
}

podium tbody {
  font-size: 1vw;
}

gameDetails {
  margin-bottom: 2.5vw;
}

gameDetails table {
  border: none;
}

league {
  padding-bottom: 1vw;
  font-size: 2.3vw;
  font-weight: 800;
  color: #DC5623;
}

.cdl-const {
  margin-top: -1.57vw;
}

lg {
  color: #DC5623;
  font-weight: 600;
}

disclaimer {
  text-align: right;
  font-size: 1vw;
}

.bracket-info {
  padding-top: 1.57vw;
  font-size: 1.25vw;
}

.det-expand:hover {
  cursor: pointer;
}

.profits {
  color: #DC5623;
}

.prizes {
  color: black;
  font-weight: 700;
}

.entrant {
  font-size: 1.5vw;
  font-weight: 800;
  color: #3984C5;
}

.summary {
  font-size: 1.6vw;
  font-weight: 800;
  color: black;
}

.table-pad {
  padding: 1%
}

.game-name {
  color: #DC5623;
  font-weight: 800;
  font-size: 1.8vw;
}

.title-year {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3vw;
}

/*db styles*/
.add-btn {
  margin-top: 10px
}

dbsearch {
  color: #DC5623;
  text-transform: uppercase;
}

search > select {
  color: black;
}

filter {
  display: block;
  font-weight: 800;
  font-size: 3vw;
}

.grid-cen {
  border-left: solid 1px #C2C2C2;
  border-right: solid 1px #C2C2C2;
}

.res-grid {
  margin-top: 10px;
  margin-left: 1%;
}

/* Userpage Styles */
user div p {
    font-size: 4vw;
    font-weight: 800;
    color: #3984C5;
}

.user-header {
  padding: 0 10px;
}

loginReq div {
  font-size: 2vw;
  margin-top: 50px;
}

.fa-door-open {
  font-size: 3vw;
  margin: 0 20px 10px 0;
}

.fa-fort-awesome {
  font-size: 3vw;
  margin: 0 20px 10px 0;
}

.modal-banner {
  border-bottom: solid 3px black;
  border-top: solid 3px black;
  color: white;
  font-weight: 800px;
  background-color: #3D85C3;
}

.modal-center {
  margin-top: 20px;
}

.reg-row {
  margin: 20px 0 20px 0;
}

#regForm {
  margin-left: 20%;
}

.reg-buttons {
  margin: 20px 0px 30px 0px;
}

.modal-center input {
  margin: 5px;
}

.reg-btn {
  margin-left: 50% !important;
}

.form-error {
  color: #B71C1C;
  font-weight: 600;
  margin-left: 20%;
}

.reg-error {
  color: #B71C1C;
  font-weight: 600;
}

/* Pool page styles */

upcoming blog p {
  font-size: 5vw;
}

.fa-calendar-alt {
  margin-right: 20px;
}

.pool-table tbody tr td:nth-child(1){
  font-weight: 600;
  font-size: 18px;
}

.confirm-modal-center {
  margin-top: 50px;
  margin-bottom: 20px;
}

.confirm-modal-bottom {
  margin-top: 50px;
  margin-bottom: 60px;
}

.confirm-modal {
  /* margin-top: 25% */
}

/* .go-to-pool-btn {
  margin-left: 25%;
} */


/* FIFA World Cup Bracket Styles */

.group-box {
  border: solid 3px black;
}

.page-intro {
  margin: 15px 10px 15px 10px;
  padding: 0 5%;
  font-size: 18px;
}

.group-grid {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.group-grid table {
  margin-left: 20%;
}

.group-grid table th {
  background-color: #3D85C3;
  color: white;
}

.group-table {
  border: solid 3px black;
  border-radius: 10%;
}

.bracket-top {
  border-bottom: solid 1px black;
  position: absolute;
  white-space: nowrap;
}

.bracket-mid {
  border-bottom: solid 1px black;
  /* postiion: absolute; */
  white-space: nowrap;
  positon: relative;
  top: 40px;
}

.bracket-label {
  position: relative;
  top: 25px;
  /* border: solid 1px blue; */
  white-space: nowrap;
  font-size: 8px;
}

pool div p {
  font-size: 4vw;
  font-weight: 800;
  color: white;
  background-color: #3984C5;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

pool div a {
  font-size: 1.5vw;
  font-weight: 600;
}

tabs {
  margin-top: -22px;
}

tabs div {
  border: solid 1px #CDCACA;
  padding: 5px;
  background-color: #E3DFDF;
}

results {
  margin-top: -10px;
}

subtabs div {
  border: solid 1px #CDCACA;
  padding: 5px;
  background-color: white;
  color: #368623;
  font-weight: 600;
  font-size: 18px;
}

.active-pool-tab {
  background-color: #3D85C3;
}

.active-pool-tab a, .active-subtab a {
  color: white;
}

.active-subtab {
  background-color: #368623;
}

.fa-arrow-up, .fa-arrow-down {
  cursor: pointer;
}

.fa-arrow-up {
  color: #368623;
}

.fa-arrow-down {
  color: #E3302C;
}

.submit-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.scoring-head {
  color: #3D85C3;
}

/*
 *  Flex Layout Specifics
*/
main {
  display: flex;
  flex-direction: row;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

.round .spacer { flex-grow: 1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow: .5; }

.round .game-spacer {
  flex-grow: 1;
}

/*
 *  General Styles
*/
bracket {
  padding: 10px;
  line-height: 1.4em;
}

@media screen and (max-width: 989px) {
  #tournament {
    margin-top: -50px;
  }
}

@media screen and (min-width: 990px) {
  #tournament {
    -webkit-margin-top: -110px;
    -moz-margin-top: -20px;
    -ms-margin-top: -20px;
    margin-top: -110px;
  }
}

li.game{
  padding-left: 20px;
}

li.game.winner{
  font-weight: bold;
}
li.game span{
  float: right;
  margin-right: 5px;
}

li.game-top {
  font-size: 18px;
  border-bottom: 5px solid #aaa;
  font-weight: 800;
  padding-bottom: 5px;
}

li.game-top:hover {
  cursor: pointer;
  font-size: 22px;
  color: #3D85C3;
}

li.game-top-label {
  border-right: 5px solid #aaa;
  font-style: italic;
  font-size: 12px;
  color: #3D85C3;
}

li.game-bottom {
  font-size: 18px;
  border-right: 5px solid #aaa;
  font-weight: 800;
  padding-bottom: 5px;
}

li.game-bottom:hover {
  cursor: pointer;
  font-size: 22px;
  color: #3D85C3;
}

li.game-bottom-label {
  border-top: 5px solid #aaa;
  font-style: italic;
  font-size: 12px;
  color: #3D85C3;
}

li.game-spacer {
  border-right: 5px solid #aaa;
  min-height: 25px;
}

consolation {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  position: absolute;
  top: 47%;
  right: 30%;
  width: 30%;
}

conslation .round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

consolation li {
  list-style: none;
}

consolation li.game-spacer {
  min-height: 80px;
}

.user-cons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  position: absolute;
  top: 55%;
  right: 30%;
  width: 30%;
}

/*
/* #wc-standings tr th:first-child, #wc-standings th:last-child{
  border: 0;
/* }

/* #user-group thead tr th {
  text-align: center;
} */

#wc-standings {
  margin-top: 10px;
}

.max-pts th {
  font-weight: 400;
  text-align: center;
}

.stat-row th:nth-child(n+1):nth-child(-n+4) {
  background-color: #ff8a65;
  text-align: center;
}

.stat-row th:nth-child(n+5):nth-child(-n+9) {
  background-color: #66bb6a;
  text-align: center;
}

.max-pts th:nth-child(n+2):nth-child(-n+5) {
  font-weight: 800;
  color: #DA562E;
  font-size: 18px;
}

.max-pts th:nth-child(n+6):nth-child(-n+10) {
  font-weight: 800;
  color: #368623;
  font-size: 18px;
}

#user-group {
  margin-top: 15px;
}

#user-group thead tr:first-child {
  font-size: 16px;
  font-weight: 600;
  color: #DA562E;
}

.user-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.user-nameplate {
  font-weight: 800;
  color: #3D85C3;
  font-size: 32px;
  margin: 10px 0 0 0;
}

selectDiv {
  margin-top: 10px;
}

#prog-table {
  table-layout: fixed;
  width: 100%;
}


#prog-table thead th span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#prog-table thead tr th:nth-child(n+3):nth-child(-n+12) {
  text-align: center;
}

#prog-table tbody tr td:nth-child(n+3):nth-child(-n+12) {
  text-align: center;
}

#prog-table .stat-row th:nth-child(n+5):nth-child(-n+10) {
  background-color: #66bb6a;
  text-align: center;
}

.row-group {
  width: 7%
}

.row-team {
  width: 17%;
}

.flag-cont {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.flag {
  max-height: 100%;
  max-width: 100%;
}

.team-name {
  font-size: 16px;
}

.def-highlight {
  background-color: #F1EDED;
  font-weight: 600;
}

.group-highlight {
  background-color: #FFBAA3;
  font-weight: 600;
}

.bracket-highlight {
  background-color: #8AED8F;
  font-weight: 600;
}
