<blogEntries class="col-xs-10">
  <entry>
    <blogHeader>
      <div class="col-xs-12">
        {{vm.post.title}}
      </div>
    </blogHeader>
    <blogDate>
      <div class="col-xs-12">
        Posted by {{vm.post.author}} <i class="fa fa-bullhorn" aria-hidden="true"></i> {{vm.post.date | date: 'medium'}}
      </div>
    </blogDate>
    <blogTags class="col-xs-12">
      TAGS: <tag ng-repeat="tag in vm.post.tags"> {{tag}} </tag>
    </blogTags>
    <blogText class="col-xs-12">
      <div class="col-xs-2">
        <blogImage>
          <img ng-src="{{vm.post.image}}" alt=""/>
          <p class="caption"> {{vm.post.imageCaption}} </p>
        </blogImage>
      </div>
      <div>
        <p ng-bind-html="vm.post.post | rawHtml">
        </p>
      </div>
    </blogText>
    <hr class="col-xs-10 col-xs-offset-1" style="margin-top: 0px">
  </entry>
</blogEntries>
