<gameDetails class="col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> <b>NCAA Bowl Pick 'em</b> carries the format of the NCAA Pick'em game into the Bowl Season. Each entrant makes a pick against the spread for all but the most meaningless of bowl games, and selects five games of their choosing for which to assign double weight (so a correct pick is worth two points instead of one). Correct picks for the two national semifinals and the national championship are worth three points. The game is run manually through a Google Docs workbook that shows entrants' picks as well as the percentage of the pool that is backing each side in each game. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $40 per entry. </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
