<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> NCAA Bowl Pick 'em </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> Travis Ross (2018)
      </div>
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.bowlpickem.details" ng-class="{'activetab': $state.includes('home.ala.bowlpickem.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.bowlpickem.rankings" ng-class="{'activetab': $state.includes('home.ala.bowlpickem.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.bowlpickem.podium" ng-class="{'activetab': $state.includes('home.ala.bowlpickem.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.bowlpickem.yoy" ng-class="{'activetab': $state.includes('home.ala.bowlpickem.yoy')}"> YoY Progression</a> </li>
    <li> <a ui-sref="home.ala.bowlpickem.records" ng-class="{'activetab': $state.includes('home.ala.bowlpickem.records')}"> Game Records</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="records"> </div>
<div ui-view="podium"> </div>
<div ui-view="yoy"> </div>
