<podium class="col-xs-9 col-md-10">
  <table class="col-xs-12">
    <thead>
      <tr>
        <th class="podium"> Type </th>
        <th class="podium"> Category </th>
        <th class="podium"> Entrant </th>
        <th class="podium"> Record </th>
        <th class="podium"> Season </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in vm.bowlRecords" class="podium">
        <td class="podium">
          <i> {{record.type}}</i>
        </td>
        <td style="font-size: 16px" class="podium">
          <b> {{record.category}} </b>
        </td>
        <td class="podium">
          <team> {{record.entrant}}</team>
        </td>
        <td class="podium">
          <score> {{record.record}}</score>
        </td>
        <td class="text-center">
          {{record.season}}
        </td>
      </tr>
    </tbody>
  </table>
  <disclaimer>
    <p>
      <i>Entrants must have played for at least two seasons to qualify for career records.</i>
    </p>
    <p>
      <i>*<b>Relative score</b> is defined as the percentage of total points available. Ranking entrants by average score or pick percentage is impractical in Bowl Pick'em as the rules have frequently changed to allow 'bonus points' for various types of games over the pool's history.</i>
    </p>
  </disclaimer>
</podium>
