<gameTitle class="col m10 center-align">
  <hr class="col m4 offset-m4">
  <div class="col m12 gameTitle">
    <p> ALA Fantasy Football </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champs: <br></b> </span>
      </div>
      <div>
        <i> [LO Division] </i><b> Wilfork on the First Date </b> (Billy Schreyer)
      </div>
      <div>
        <i> [USC Division] </i><b>  It Burns When I Puig </b> (Ryan Rappeport)
      </div>
      <div>
        <i> [GU Division] </i><b> Mediocre Table </b> (Zach Wolfel);
      </div>
    </defending>
  </div>
  <hr class="col m4 offset-m4">
</gameTitle>

<gameNav class="center-align">
  <ul>
    <li> <a ui-sref="home.ala.football.details" ng-class="{'activetab': $state.includes('home.ala.football.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.football.rankings" ng-class="{'activetab': $state.includes('home.ala.football.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.football.podium" ng-class="{'activetab': $state.includes('home.ala.football.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.football.records" ng-class="{'activetab': $state.includes('home.ala.football.records')}"> Record Holders</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="podium"> </div>
<div ui-view="records"> </div>
