<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> ALA Fantasy Football </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champs: <br></b> </span>
      </div>
      <div>
        <lg>[LO]</lg> <b> Hey Yoey </b> (Joe Simich) | <lg>[USC]</lg> <b>  Football Football </b> (Jon Goldberg) | <lg>[GU]</lg> <b> It's On Like Ndamukong </b> (BJ Ebert)
      </div>
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.football.details" ng-class="{'activetab': $state.includes('home.ala.football.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.football.rankings" ng-class="{'activetab': $state.includes('home.ala.football.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.football.podium" ng-class="{'activetab': $state.includes('home.ala.football.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.football.records" ng-class="{'activetab': $state.includes('home.ala.football.records')}"> League Records</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="podium"> </div>
<div ui-view="records"> </div>
