<rankings class="col-xs-9 col-md-10">
  <p>
    Below you will find the current All-Time Rankings for ALA Fantasy Football. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/12xmNwcdfVMNBYN2pApbcETN3RSFHSIqrgFjpB3f8UcE/edit#gid=10" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: Managers are ranked by their average Power Ranking score over the course of their careers.
  </p>


  <iframe height="800" width="96%" style="margin-left: 2%" src="https://docs.google.com/spreadsheets/d/12xmNwcdfVMNBYN2pApbcETN3RSFHSIqrgFjpB3f8UcE/pubhtml?widget=true&amp;headers=false"></iframe>
</rankings>
