<gameDetails class="col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> The <b>NCAA March Madness Pool</b> is A Level Above's most popular game and hosts more than 400 entrants annually. Scoring is traditional, with each correct pick in the first round earning an entrant one (1) point and correct picks doubling in value in each successive round until a correct Championship pick is worth 32 points. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $15 per bracket. Max of two brackets per entrant. Top 15 finishers are paid out, plus a prize for the most correct first-round picks.</td>
      </tr>
      <tr>
        <td class="summary text-right"> Defending Champ </td>
        <td class="details text-left"> Scott Hitchcock </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
