<about class="col-xs-10">
  <div class="text-center">
    <hr class="col-xs-4 col-xs-offset-4">
    <div class="col-xs-12">
      What exactly is <span>A Level Above</span><i class="fa fa-question" aria-hidden="true"></i>
    </div>
    <hr class="col-xs-4 col-xs-offset-4">
  </div>
</about>

<div class="col-xs-10 aboutDesc">
  <p>
    Here at ALA HQ, we abide by a simple philosophy: sports are great, and they're especially great when you can acquire a vested interest in a game that might otherwise be meaningless.
  </p>
  <p>
    Whether you're a big-time gambler or are seeking some cheap bragging rights over your friends, you're welcome here. We host pools and games year-round using a unique, dynamic <a ui-sref="home.ala.buyins">choose-your-own-buyin</a> system in hopes of building the largest possible fields of entrants.
  </p>
  <p>
    A Level Above goes above and beyond the likes of your standard office pools by maintaining all-time rankings and career statistics for all of our games and players. Wondering what your overall correct pick percentage is for your past five seasons of NCAA Football picks? How about your all-time Fantasy Football ROI? What about the number of games you've participated in during ALA's 15-year history? All of this information and much, much more is contained within the annals of this website.
  </p>
  <p>
    Want to get in on the action? Wish to see an old, inactive pool revived? Have an idea for another game that you think we should offer? Drop me a line and let me know what you think.
  </p>
  <p>
    Thanks for visting, and good luck out there. Remember: it takes money to make money!
  </p>
</div>
