<blogMainDiv class="col-xs-9 col-md-10">
  <blog>
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-microphone" aria-hidden="true"></i>
          TODAY
          <in style="font-size: 12vh;"> in </in>
          ALA
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </p>
        <span>
          The A Level Above Fantasy Sports and Games Blog
        </span>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>

  <div ui-view="main"> </div>
  <div ui-view="post"> </div>
  <div ui-view="add"> </div>
</blogMainDiv>
