<blogMainDiv class="col-md-10">
  <blog>
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-md-4 col-md-offset-4">
      <div class="col-md-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-microphone" aria-hidden="true"></i>
          TODAY
          <in style="font-size: 72px;"> in </in>
          ALA
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </p>
        <span>
          The A Level Above Fantasy Sports and Games Blog
        </span>
      </div>
      <hr class="col-md-4 col-md-offset-4">
    </div>
  </blog>

  <entry ng-repeat="post in vm.blogposts">
    <blogHeader>
      <div class="col-md-12">
        {{post.title}}
      </div>
    </blogHeader>
    <blogDate>
      <div class="col-md-12">
        Posted by {{post.author}} <i class="fa fa-bullhorn" aria-hidden="true"></i> {{post.date | date: 'medium'}}
      </div>
    </blogDate>
    <blogTags class="col-md-12">
      TAGS: <tag ng-repeat="tag in post.tags"> {{tag}} </tag>
    </blogTags>
    <blogText class="col-md-12">
      <div class="col-md-2">
        <blogImage>
          <img ng-src="{{post.image}}" alt=""/>
          <p class="caption"> {{post.imageCaption}} </p>
        </blogImage>
      </div>
      <div>
        <p ng-bind-html="post.post | rawHtml">
        </p>
      </div>
    </blogText>
    <hr class="col-md-10 col-md-offset-1" style="margin-top: 0px">
  </entry>
</blogMainDiv>
