<buyins class="col-md-10">
  <div class="text-center">
    <hr style="margin-bottom: -5px;">
    <p style="margin-bottom: -20px">
      <span>Buy-ins and Prizes: Explained</span>
    <hr>
  </div>

  <explained class="col-md-offset-1">
    Many of ALA's fantasy games and pools utilize a <b>dynamic "choose your buy-in" system </b>to accommodate both the casual and serious gamer (...or gambler). Entrants are eligible to win only a percentage of the prize pool that is proportionate to their buy-in amount. This system has multiple benefits; it allows those entrants who would like to put more at stake to do so without pushing out those who would rather keep their buy-in small, and it 
  </explained>
</buyins>
