<buyins class="col-xs-9 col-md-10">
  <div class="text-center">
    <hr class="col-xs-4 col-xs-offset-4">
    <div class="col-xs-12">
      <p class="buyinHeader">
        Buy-ins and Prizes: Explained
      </p>
    </div>
    <hr class="col-xs-4 col-xs-offset-4">
  </div>

  <div class="col-xs-12">
    <p class="buyin-exp-header">
      Choose Your Own Buy-in
    </p>
    <explained>
      <p>
        Many of ALA's fantasy games and pools utilize a <b>dynamic "choose your buy-in" system </b>to accommodate both the casual and serious gamer (or gambler). Entrants are eligible to win only a percentage of the prize pool proportionate to their buy-in amount; think of it like a side-pot in a poker game. This system has multiple benefits: it allows entrants who would like to wager more to do so without pushing out those who would rather keep their buy-in small, and with different prizes for each buy-in tier, it also encourages entrants to stay active even if they are not in contention for one of the base-tier prizes.
      </p>
      <p>
        For an example of how this works, take a look at the payout summary from the 2015 NCAA Pick'em Pool:
      </p>
    </explained>
  </div>

  <div class="row">
    <prizeDiv class="col-xs-10 col-xs-offset-1">
      <img src="images/ncaapick15prizes.png" alt="NCAA Pick'em Prizes, 2015" />
    </prizeDiv>
  </div>

  <div class="exptwo col-xs-12">
    <explained>
      <p>
        In this game, there are three buy-in options -- $30, $50, or $100 -- which correspond to the three prize tiers in the right half of the table. Each entrant's buy-in is noted to the left of their name. Alex Kurian, the pool winner, bought in for $50, so he received the first-place prizes for both Tier 1 and Tier 2. Dave Echenoz, who finished in 2nd-place and bought in for $30, received the 2nd-place prize just for Tier 1. And since Kyle Davis, who finished in 3rd-place, bought in for $100 ... he received the 3rd-place prize for Tier 1, the 2nd-place prize for Tier 2 (since Dave only bought in for $30), and the 1st-place prize for Tier 3 (since neither Alex nor Dave bought in for $100).
      </p>
    </explained>
  </div>

  <div class="col-xs-12 how-to-pay">
    <p class="buyin-exp-header">
      How to Pay Your Buy-in
    </p>
    <explained>
      <p>
        Paying your ALA buy-in is easy and can be done any of the following ways:
        <br>
        <div>
          <p>
            - Through <a href="https://venmo.com/" target="_blank">Venmo</a> to @mikeduin;
          </p>
        </div>
        <div>
          <p>
            - Through <a href="https://cash.me/" target="_blank">Square Cash</a> to michael.s.duin@gmail.com;
          </p>
        </div>
        <div>
          <p>
            - Send money directly from your bank account to mine (by sending to michael.s.duin@gmail.com) using <a href="https://www.clearxchange.com/get-started#/" target="_blank">clearXChange</a> if you use a bank listed on that page;
          </p>
        </div>
        <div>
          <p>
            - By sending me cash or check (contact me for my address);
          </p>
        </div>
        <div>
          <p>
            - Or by any other reliable electronic method you can dream up that <i>isn't</i> PayPal. PayPal is the devil.
          </p>
        </div>
    </explained>
  </div>

</buyins>
