<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-chart-line" aria-hidden="true"></i>
          Growth Graph
          <i class="fa fa-chart-line" aria-hidden="true"></i>
        </p>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<div class="col-xs-9 col-md-10 aboutDesc">
  <p>
    Since the introduction of the ALA Championship Series in 2008, A Level Above has consistently grown its prize pools and user base each season. In 2022, a record total of $63,228 in prizes was paid out to its players.
  </p>
</div>

<div class="col-xs-9 col-md-10" >
  <div zingchart id="growth-chart" zc-json="vm.growthGraph" zc-width="100%" zc-height="600px"></div>
</div>
