<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-camera" aria-hidden="true"></i>
          Photo Gallery
          <i class="fa fa-camera" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          From the best-looking fantasy league on earth.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<photoHeader class="col-xs-9 col-md-10 text-center">
  ALA Fantasy Hoops League Photos
</photoHeader>

<photoRow class="col-xs-9 col-md-10">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/leaguepic02.jpg" data-lightbox="league-photo" data-title="The original ALA Fantasy Hoops League Photo, 2002-03."> <img src="../images/leaguepic02.jpg" alt="leaguephoto02"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2002-03
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/leaguepic03.JPG" data-lightbox="league-photo" data-title="ALA Fantasy Hoops League Photo, 2003-04."> <img src="../images/leaguepic03.JPG" alt="leaguephoto03"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2003-04
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/leaguepic04.jpg" data-lightbox="league-photo" data-title="ALA Fantasy Hoops League Photo, 2004-05."> <img src="../images/leaguepic04.jpg" alt="leaguephoto04"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2004-05
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/leaguepic05.jpg" data-lightbox="league-photo" data-title="ALA Fantasy Hoops League Photo, 2005-06."> <img src="../images/leaguepic05.jpg" alt="leaguephoto05"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2005-06
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/leaguepic06.jpg" data-lightbox="league-photo" data-title="ALA Fantasy Hoops League Photo, 2006-07."> <img src="../images/leaguepic06.jpg" alt="leaguephoto06"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2006-07
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/leaguepic07.png" data-lightbox="league-photo" data-title="ALA Fantasy Hoops League Photo, 2007-08."> <img src="../images/leaguepic07.png" alt="leaguephoto04"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption">
      2007-08
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10">
  <photo class="col-xs-3 col-xs-offset-4">
    <div class="col-xs-12">
      <a href="../images/leaguepic13_bw.jpg" data-lightbox="league-photo" data-title="The iconic ALA Fantasy Hoops league photo, recreated ten years later."> <img src="../images/leaguepic13_bw.jpg" alt="leaguephoto05" style="margin-left: 20%"/></a>
    </div>
    <div class="col-xs-12 text-center photoCaption" style="margin-left: 20%">
      ten years later
    </div>
  </photo>
</photoRow>

<photoHeader class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 text-center photo-section photo-cat">
  ALA Fantasy NBA LOHS Gym Photoshoot, 2005
</photoHeader>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/gym_hor_01.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_01.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_hor_02.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_02.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_hor_03.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_03.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/gym_hor_04.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_04.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_hor_05.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_05.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_hor_06.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_hor_06.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/gym_ver_01.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_01.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_ver_02.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_02.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_ver_03.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_03.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/gym_ver_04.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_04.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_ver_05.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_05.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/gym_ver_06.jpg" data-lightbox="gym-shoot" data-title="LOHS Gym Photoshoot, 2005"> <img src="../images/gym_ver_06.jpg" alt="gymshoot"/></a>
    </div>
  </photo>
</photoRow>

<photoHeader class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 text-center photo-section photo-cat">
  ALA Fantasy NBA Draft Weekend: Las Vegas, 2008
</photoHeader>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_01.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_01.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_02.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_02.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_03.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_03.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_04.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_04.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_05.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_05.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_06.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_06.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_07.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_07.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_08.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_08.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_09.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_09.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_10.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_10.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_11.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_11.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_12.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_12.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_13.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_13.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_14.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_14.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_15.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_15.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas08_16.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_16.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_17.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_17.jpg" alt="vegas08"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas08_18.jpg" data-lightbox="vegas-08" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2008"> <img src="../images/vegas08_18.jpg" alt="vegas08"/></a>
    </div>
  </photo>
</photoRow>

<photoHeader class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 text-center photo-section photo-cat">
  ALA Fantasy NBA Draft Weekend: Las Vegas, 2009
</photoHeader>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas09_05.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_05.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_06.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_06.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_07.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_07.jpg" alt="vegas09"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas09_08.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_08.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_09.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_09.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_10.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_10.jpg" alt="vegas09"/></a>
    </div>
  </photo>
</photoRow>

<photoRow class="col-xs-9 col-md-10 col-xs-offset-3 col-md-offset-2">
  <photo class="col-xs-3" style="margin-left: 4%">
    <div class="col-xs-12">
      <a href="../images/vegas09_11.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_11.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_12.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_12.jpg" alt="vegas09"/></a>
    </div>
  </photo>
  <photo class="col-xs-3 col-xs-offset-1">
    <div class="col-xs-12">
      <a href="../images/vegas09_13.jpg" data-lightbox="vegas-09" data-title="Fantasy NBA Draft Weekend, Las Vegas, 2009"> <img src="../images/vegas09_13.jpg" alt="vegas09"/></a>
    </div>
  </photo>
</photoRow>
