<gameDetails class="col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"></th>
        <th class="col-md-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> The <b>NBA Complicated Dynasty League</b> is unique in the ALA universe. Inspired by an NFL version with a similar format, the NBA CDL is a H2H, nine-category Rotisserie league in which managers draft their teams via auction and are permitted to sign their players for up to five years following the year in which they were drafted. The catch is that for every additional year past the first that a player's contract is extended, his annual salary increases by $5 for ALL seasons in which he is signed. Cap penalties are in play for players that are cut from rosters. The litany of other rules which make this league live up to its name can be found in the league's Constitution. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Reserved </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $300 per season, with prizes awarded for top three finishers, division winners, wild cards, best regular season W/L record, and the consolation playoff bracket champion.</td>
      </tr>
      <tr>
        <td class="summary text-right"> Defending Champ </td>
        <td class="details text-left"> <b> Seattle Supersonics </b> (Dan Goldman) </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
