<gameTitle class="col-md-10 text-center">
  <hr class="col-md-4 col-md-offset-4">
  <div class="col-md-12">
    <p> NBA Complicated Dynasty League </p>
  </div>
  <hr class="col-md-4 col-md-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.nbacdl.details" ng-class="{'activetab': $state.includes('home.ala.nbacdl.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.nbacdl.rankings" ng-class="{'activetab': $state.includes('home.ala.nbacdl.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.nbacdl.podium" ng-class="{'activetab': $state.includes('home.ala.nbacdl.podium')}"> The Podium</a> </li>
    <li> <a ui-sref="home.ala.nbacdl.records" ng-class="{'activetab': $state.includes('home.ala.nbacdl.records')}"> Record Holders</a> </li>
    <li> <a ui-sref="home.ala.nbacdl.records" ng-class="{'activetab': $state.includes('home.ala.nbacdl.records')}"> Constitution</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="podium"> </div>
<div ui-view="records"> </div>
<div ui-view="constitution"> </div>
