<div class="col-xs-9 col-md-10">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <table ng-repeat="group in vm.groups">
        <thead>
          <tr>
            <th>Group {{group}}</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>Pts</th>
            <th>Goals</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="team in vm.teamStats | filter: {group: group} | orderBy: '-group_pts'">
            <td>{{team.team}}</td>
            <td>{{team.group_w}}</td>
            <td>{{team.group_l}}</td>
            <td>{{team.group_d}}</td>
            <td>{{team.group_pts}}</td>
            <td>{{team.group_goals}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
