<div class="col-xs-9 col-md-10" ng-init="vm.loadPicks()" ng-show="vm.isLoggedIn() !== false">
  <div class="row">
    <div class="col-xs-12 page-intro">
      After making your Group Stage picks, fill out your bracket here -- including the 3rd-place game. Don't forget to save your picks once you're finished! You can return to edit your Group and Bracket picks at any time before the tournament begins.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <button ng-click="vm.saveBracketPicks()" class="btn btn-lg btn-primary">SAVE PICKS</button>
      <button ng-click="vm.clearBracketPicks()" class="btn btn-lg btn-danger">CLEAR PICKS</button>
    </div>
  </div>
  <consolation>
    <ul class="round">
      <li class="game game-top" ng-click="vm.bracketPicks[14] = vm.consOne">{{vm.consOne}}<span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom" ng-click="vm.bracketPicks[14] = vm.consTwo"> {{vm.consTwo}}<span></span></li>
      <li class="game game-bottom-label"></li>
    </ul>
    <ul class="round">
      <li class="game game-top"> {{vm.bracketPicks[14]}}<span></span></li>
      <li class="game game-bottom-label text-center">3RD PLACE</li>
    </ul>
  </consolation>
  <bracket class="row">
    <main id="tournament">
    	<ul class="round round-1">
    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[0] = vm.models.groups['A'][0]; vm.checkAdvance(1, vm.models.groups['B'][1])">{{vm.models.groups['A'][0]}}<span></span></li>
        <li class="game game-top-label">Group A Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[0] = vm.models.groups['B'][1]; vm.checkAdvance(1, vm.models.groups['A'][0])">{{vm.models.groups['B'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group B Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[1] = vm.models.groups['C'][0]; vm.checkAdvance(1, vm.models.groups['D'][1])">{{vm.models.groups['C'][0]}} <span></span></li>
        <li class="game game-top-label">Group C Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[1] = vm.models.groups['D'][1]; vm.checkAdvance(1, vm.models.groups['C'][0])">{{vm.models.groups['D'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group D Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[2] = vm.models.groups['E'][0]; vm.checkAdvance(1, vm.models.groups['F'][1])">{{vm.models.groups['E'][0]}}<span></span></li>
        <li class="game game-top-label">Group E Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[2] = vm.models.groups['F'][1]; vm.checkAdvance(1, vm.models.groups['E'][0])">{{vm.models.groups['F'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group F Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[3] = vm.models.groups['G'][0]; vm.checkAdvance(1, vm.models.groups['H'][1])">{{vm.models.groups['G'][0]}} <span></span></li>
        <li class="game game-top-label">Group G Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[3] = vm.models.groups['H'][1]; vm.checkAdvance(1, vm.models.groups['G'][0])">{{vm.models.groups['H'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group H Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[4] = vm.models.groups['B'][0]; vm.checkAdvance(1, vm.models.groups['A'][1])">{{vm.models.groups['B'][0]}} <span></span></li>
        <li class="game game-top-label">Group B Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[4] = vm.models.groups['A'][1]; vm.checkAdvance(1, vm.models.groups['B'][0])">{{vm.models.groups['A'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group A Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[5] = vm.models.groups['D'][0]; vm.checkAdvance(1, vm.models.groups['C'][1])">{{vm.models.groups['D'][0]}} <span></span></li>
        <li class="game game-top-label">Group D Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[5] = vm.models.groups['C'][1]; vm.checkAdvance(1, vm.models.groups['D'][0])">{{vm.models.groups['C'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group C Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[6] = vm.models.groups['F'][0]; vm.checkAdvance(1, vm.models.groups['E'][1])">{{vm.models.groups['F'][0]}} <span></span></li>
        <li class="game game-top-label">Group F Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[6] = vm.models.groups['E'][1]; vm.checkAdvance(1, vm.models.groups['F'][0])">{{vm.models.groups['E'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group E Runner-Up</li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[7] = vm.models.groups['H'][0]; vm.checkAdvance(1, vm.models.groups['G'][1])">{{vm.models.groups['H'][0]}} <span></span></li>
        <li class="game game-top-label">Group H Winner</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[7] = vm.models.groups['G'][1]; vm.checkAdvance(1, vm.models.groups['H'][0])">{{vm.models.groups['G'][1]}} <span></span></li>
        <li class="game game-bottom-label">Group G Runner-Up</li>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    	<ul class="round round-2">
    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[8] = vm.bracketPicks[0]; vm.checkAdvance(2, vm.bracketPicks[1])"> {{vm.bracketPicks[0]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[8] = vm.bracketPicks[1]; vm.checkAdvance(2, vm.bracketPicks[0])"> {{vm.bracketPicks[1]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[9] = vm.bracketPicks[2]; vm.checkAdvance(2, vm.bracketPicks[3])"> {{vm.bracketPicks[2]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom " ng-click="vm.bracketPicks[9] = vm.bracketPicks[3]; vm.checkAdvance(2, vm.bracketPicks[2])"> {{vm.bracketPicks[3]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[10] = vm.bracketPicks[4]; vm.checkAdvance(2, vm.bracketPicks[5])"> {{vm.bracketPicks[4]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom " ng-click="vm.bracketPicks[10] = vm.bracketPicks[5]; vm.checkAdvance(2, vm.bracketPicks[4])"> {{vm.bracketPicks[5]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[11] = vm.bracketPicks[6]; vm.checkAdvance(2, vm.bracketPicks[7])"> {{vm.bracketPicks[6]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[11] = vm.bracketPicks[7]; vm.checkAdvance(2, vm.bracketPicks[6])"> {{vm.bracketPicks[7]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    	<ul class="round round-3">
    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[12] = vm.bracketPicks[8]; vm.consOne = vm.bracketPicks[9]; vm.checkAdvance(3, vm.bracketPicks[9])"> {{vm.bracketPicks[8]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom " ng-click="vm.bracketPicks[12] = vm.bracketPicks[9]; vm.consOne = vm.bracketPicks[8]; vm.checkAdvance(3, vm.bracketPicks[8])"> {{vm.bracketPicks[9]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[13] = vm.bracketPicks[10]; vm.consTwo = vm.bracketPicks[11]; vm.checkAdvance(3, vm.bracketPicks[11])"> {{vm.bracketPicks[10]}}<span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[13] = vm.bracketPicks[11]; vm.consTwo = vm.bracketPicks[10]; vm.checkAdvance(3, vm.bracketPicks[10])"> {{vm.bracketPicks[11]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    	<ul class="round round-4">
    		<li class="spacer">&nbsp;</li>

    		<li class="game game-top" ng-click="vm.bracketPicks[15] = vm.bracketPicks[12]">{{vm.bracketPicks[12]}} <span></span></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom" ng-click="vm.bracketPicks[15] = vm.bracketPicks[13]"> {{vm.bracketPicks[13]}}<span></span></li>
        <li class="game game-bottom-label"></li>

    		<li class="spacer">&nbsp;</li>
    	</ul>
      <ul class="round round-5">
    		<li class="spacer">&nbsp;</li>
        <li class="game game-top "> {{vm.bracketPicks[15]}}<span></span></li>
        <li class="game game-bottom-label text-center">CHAMPION</li>
        <li class="spacer">&nbsp;</li>
      </ul>
    </main>
  </bracket>
</div>

<loginReq ng-show="vm.isLoggedIn() == false" class="text-center col-xs-9 col-md-10">
  <div>
    Please <a ui-sref="home.ala.loginpop">login</a> to make your picks for this pool.
  </div>
</loginReq>
