<div class="col-xs-9 col-md-10" ng-show="vm.userLoggedInAndRegistered">
  <div class="row">
    <div class="col-xs-12 page-intro">
      After making your Group Stage picks, fill out your bracket here -- including the 3rd-place game. Don't forget to save your picks once you're finished! You can return to edit your Group and Bracket picks at any time before the tournament begins, at which point picks will lock.
    </div>
  </div>
	<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <hr>
    </div>
  </div>
	
	<div class="row">
    <div ng-if="vm.selectedUser" class="col-xs-9">
      <div ng-if="vm.viewingOwnPicks" class="col-xs-6 center-align">
				<button ng-click="vm.saveBracketPicks()" class="btn btn-lg btn-primary" ng-class="{disabled: !vm.inTime}">SAVE PICKS</button>
      	<button ng-click="vm.clearBracketPicks()" class="btn btn-lg btn-danger" ng-class="{disabled: !vm.inTime}">CLEAR PICKS</button>
        <!-- <button ng-click="vm.saveGroupPicks()" class="center-align btn btn-lg btn-primary" ng-class="{disabled: !vm.inTime}">SAVE PICKS</button> -->
        <div ng-if="!vm.inTime" style="color: #6a1c27;"><i>Selections are now locked for {{vm.activeSeason}}.</i></div>
      </div>
      <div ng-if="!vm.viewingOwnPicks" class="col-xs-6 center-align">
        <span style="font-size: 18px; text-transform: uppercase">You're viewing <span style="color: #6599cc; font-weight: 800">{{vm.selectedUser}}'s</span> Knockout picks.</span>
        <div>
          <a ui-sref="home.ala.wc18bracket.groups({username: vm.selectedUser})">THEIR GROUP PICKS</a> <span ng-if="vm.activeUser">| <a ui-sref="home.ala.wc18bracket.bracket({username: vm.activeUser})">YOUR KNOCKOUT PICKS</a></span>
        </div>
      </div>    
    </div>
		<div ng-if="!vm.selectedUser" class="col-xs-9">
      <span style="font-size: 18px; text-transform: uppercase">You are not logged in; use the dropdown to the right to view other users' picks.</span>
    </div>
    <div class="col-xs-3">
      <select ng-if="!vm.inTime" class="form-control" name="userSelect" ng-change="vm.userChange(vm.selectedUser, 'bracket')" ng-model="vm.selectedUser">
        <!-- <option value="">(select a user)</option> -->
        <option ng-repeat="user in vm.users" value="{{user.username}}"> {{user.username}} </option>
      </select>
      <div ng-if="!vm.inTime" style="color: #6599cc; margin-left: 30%"><i>View Another Entry</i></div>
    </div>
  </div>
	
	<!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <button ng-click="vm.saveBracketPicks()" class="btn btn-lg btn-primary" ng-class="{disabled: !vm.inTime}">SAVE PICKS</button>
      <button ng-click="vm.clearBracketPicks()" class="btn btn-lg btn-danger" ng-class="{disabled: !vm.inTime}">CLEAR PICKS</button>
    </div>
  </div> -->


	<!-- <div ng-if="!vm.inTime" class="row" style="display:flex; justify-content: center; color: #6a1c27"><i>Selections are now locked for {{vm.activeSeason}}.</i></div> -->
	<div class="row">
		<section id="bracket">
			<div class="container">
				<div class="split split-one">
					<div class="round round-one current">
						<div class="round-details">Round of 16<br/><span class="date">December 3-6</span></div>
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(0, vm.models.groups['A'][0]); vm.checkAdvance(1, vm.models.groups['B'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['A'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['A'][0]) == -1}"
								> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['A'][0]]}}"></div> {{vm.models.groups['A'][0]}} <span class="score"> Grp A Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(0, vm.models.groups['B'][1]); vm.checkAdvance(1, vm.models.groups['A'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['B'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['B'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['B'][1]]}}"></div>{{vm.models.groups['B'][1]}} <span class="score"> Grp B Runner-Up </span>
							</li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(1, vm.models.groups['C'][0]); vm.checkAdvance(1, vm.models.groups['D'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['C'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['C'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['C'][0]]}}"></div>{{vm.models.groups['C'][0]}} <span class="score"> Grp C Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(1, vm.models.groups['D'][1]); vm.checkAdvance(1, vm.models.groups['C'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['D'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['D'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['D'][1]]}}"></div>{{vm.models.groups['D'][1]}} <span class="score"> Grp D Runner-Up </span>
							</li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(2, vm.models.groups['E'][0]); vm.checkAdvance(1, vm.models.groups['F'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['E'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['E'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['E'][0]]}}"></div>{{vm.models.groups['E'][0]}} <span class="score"> Grp E Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(2, vm.models.groups['F'][1]); vm.checkAdvance(1, vm.models.groups['E'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['F'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['F'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['F'][1]]}}"></div>{{vm.models.groups['F'][1]}} <span class="score"> Grp F Runner-Up </span>
							</li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(3, vm.models.groups['G'][0]); vm.checkAdvance(1, vm.models.groups['H'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['G'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['G'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['G'][0]]}}"></div>{{vm.models.groups['G'][0]}} <span class="score"> Grp G Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(3, vm.models.groups['H'][1]); vm.checkAdvance(1, vm.models.groups['G'][0])" 
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['H'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['H'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['H'][1]]}}"></div>{{vm.models.groups['H'][1]}} <span class="score"> Grp H Runner-Up </span>
							</li>
						</ul>			
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(4, vm.models.groups['B'][0]); vm.checkAdvance(1, vm.models.groups['A'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['B'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['B'][0]) == -1}" 
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['B'][0]]}}"></div>{{vm.models.groups['B'][0]}} <span class="score"> Grp B Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(4, vm.models.groups['A'][1]); vm.checkAdvance(1, vm.models.groups['B'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['A'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['A'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['A'][1]]}}"></div>{{vm.models.groups['A'][1]}} <span class="score"> Grp A Runner-Up </span>
							</li>
						</ul>	
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(5, vm.models.groups['D'][0]); vm.checkAdvance(1, vm.models.groups['C'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['D'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['D'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['D'][0]]}}"></div>{{vm.models.groups['D'][0]}} <span class="score"> Grp D Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(5, vm.models.groups['C'][1]); vm.checkAdvance(1, vm.models.groups['D'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['C'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['C'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['C'][1]]}}"></div>{{vm.models.groups['C'][1]}} <span class="score"> Grp C Runner-Up </span>
							</li>
						</ul>	
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(6, vm.models.groups['F'][0]); vm.checkAdvance(1, vm.models.groups['E'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['F'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['F'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['F'][0]]}}"></div>{{vm.models.groups['F'][0]}} <span class="score"> Grp F Winner </span>
							</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(6, vm.models.groups['E'][1]); vm.checkAdvance(1, vm.models.groups['F'][0])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['E'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['E'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['E'][1]]}}"></div>{{vm.models.groups['E'][1]}} <span class="score"> Grp E Runner-Up </span>
						</li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(7, vm.models.groups['H'][0]); vm.checkAdvance(1, vm.models.groups['G'][1])"
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['H'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['H'][0]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['H'][0]]}}"></div>{{vm.models.groups['H'][0]}} <span class="score"> Grp H Winner </span>
						</li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(7, vm.models.groups['G'][1]); vm.checkAdvance(1, vm.models.groups['F'][0])" 
								ng-class="{'pick-right': vm.advancing.indexOf(vm.models.groups['G'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.models.groups['G'][1]) == -1}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.models.groups['G'][1]]}}"></div>{{vm.models.groups['G'][1]}} <span class="score"> Grp G Runner-Up </span>
							</li>
						</ul>										
					</div>	<!-- END ROUND ONE -->
			
					<div class="round round-two">
						<div class="round-details">Quarterfinals<br/><span class="date">December 9-10</span></div>			
						<ul class="matchup">
							<li class="team team-top" 
								ng-click="vm.makeBracketPick(8, vm.bracketPicks[0]); vm.checkAdvance(2, vm.bracketPicks[1])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[0]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[0]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[0] && vm.models.groups['A'][0] && vm.models.groups['B'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[0]]}}"></div> {{vm.bracketPicks[0]}} 
							</li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(8, vm.bracketPicks[1]); vm.checkAdvance(2, vm.bracketPicks[0])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[1]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[1]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[1] && vm.models.groups['C'][0] && vm.models.groups['D'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[1]]}}"></div> {{vm.bracketPicks[1]}}<span class="score">&nbsp;</span>
							</li>
						</ul>
						<ul class="matchup">
							<li class="team team-top"
								ng-click="vm.makeBracketPick(9, vm.bracketPicks[2]); vm.checkAdvance(2, vm.bracketPicks[3])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[2]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[2]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[2], vm.models.groups['E'][0], vm.models.groups['F'][1])}"
							> 
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[2]]}}"></div> {{vm.bracketPicks[2]}}<span class="score">&nbsp;</span>
							</li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(9, vm.bracketPicks[3]); vm.checkAdvance(2, vm.bracketPicks[2])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[3]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[3]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[3], vm.models.groups['G'][0], vm.models.groups['H'][1])}"
							> 
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[3]]}}"></div> {{vm.bracketPicks[3]}}<span class="score">&nbsp;</span>
							</li>
						</ul>
						<ul class="matchup">
							<li class="team team-top"
								ng-click="vm.makeBracketPick(10, vm.bracketPicks[4]); vm.checkAdvance(2, vm.bracketPicks[5])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[4]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[4]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[4], vm.models.groups['B'][0], vm.models.groups['A'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[4]]}}"></div> {{vm.bracketPicks[4]}}<span class="score">&nbsp;</span></li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(10, vm.bracketPicks[5]); vm.checkAdvance(2, vm.bracketPicks[4])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[5]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[5]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[5], vm.models.groups['D'][0], vm.models.groups['C'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[5]]}}"></div> {{vm.bracketPicks[5]}}<span class="score">&nbsp;</span></li>
						</ul>
						<ul class="matchup">
							<li class="team team-top"
								ng-click="vm.makeBracketPick(11, vm.bracketPicks[6]); vm.checkAdvance(2, vm.bracketPicks[7])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[6]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[6]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[6], vm.models.groups['F'][0], vm.models.groups['E'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[6]]}}"></div> {{vm.bracketPicks[6]}}<span class="score">&nbsp;</span></li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(11, vm.bracketPicks[7]); vm.checkAdvance(2, vm.bracketPicks[6])"
								ng-class="{'pick-right': vm.bracketWinners.r16.indexOf(vm.bracketPicks[7]) !== -1, 'pick-wrong': vm.eliminated.indexOf(vm.bracketPicks[7]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[7], vm.models.groups['H'][0], vm.models.groups['G'][1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[7]]}}"></div> {{vm.bracketPicks[7]}}<span class="score">&nbsp;</span></li>
						</ul>
					</div>	<!-- END ROUND TWO -->
					
					<div class="round round-three">
						<div class="round-details">Semifinals<br/><span class="date">December 13-14</span></div>			
						<ul class="matchup">
							<li class="team team-top"
								ng-click="vm.makeBracketPick(12, vm.bracketPicks[8], 'consOne', vm.bracketPicks[9]); vm.checkAdvance(3, vm.bracketPicks[9])"
								ng-class="{'pick-right': vm.bracketWinners.r8.indexOf(vm.bracketPicks[8]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[8], vm.bracketPicks[0], vm.bracketPicks[1])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[8]]}}"></div> {{vm.bracketPicks[8]}}<span class="score">&nbsp;</span>
							</li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(12, vm.bracketPicks[9], 'consOne', vm.bracketPicks[8]); vm.checkAdvance(3, vm.bracketPicks[8])"
								ng-class="{'pick-right': vm.bracketWinners.r8.indexOf(vm.bracketPicks[9]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[9], vm.bracketPicks[2], vm.bracketPicks[3])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[9]]}}"></div> {{vm.bracketPicks[9]}}<span class="score">&nbsp;</span></li>
						</ul>
						<ul id="round-three-bottom-matchup" class="matchup">
							<li class="team team-top"
								ng-click="vm.makeBracketPick(13, vm.bracketPicks[10], 'consTwo', vm.bracketPicks[11]); vm.checkAdvance(3, vm.bracketPicks[11])"
								ng-class="{'pick-right': vm.bracketWinners.r8.indexOf(vm.bracketPicks[10]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[10], vm.bracketPicks[4], vm.bracketPicks[5])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[10]]}}"></div> {{vm.bracketPicks[10]}}<span class="score">&nbsp;</span></li>
							<li class="team team-bottom"
								ng-click="vm.makeBracketPick(13, vm.bracketPicks[11], 'consTwo', vm.bracketPicks[10]); vm.checkAdvance(3, vm.bracketPicks[10])"
								ng-class="{'pick-right': vm.bracketWinners.r8.indexOf(vm.bracketPicks[11]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.bracketPicks[11], vm.bracketPicks[6], vm.bracketPicks[7])}"
							>
							<div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[11]]}}"></div> {{vm.bracketPicks[11]}}<span class="score">&nbsp;</span></li>
						</ul>
					</div>	<!-- END ROUND THREE -->		

					<div class="round consolation">
						<i class="fa fa-solid fa-medal"></i>
						<div class="round-details">Consolation<br/><span class="date">December 17</span></div>			
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(14, vm.consOne)"
								ng-style="{'pick-right': vm.bracketWinners.r8.indexOf(vm.bracketPicks[11]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.consOne, vm.bracketPicks[8], vm.bracketPicks[9])}"
							> <div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.consOne]}}"></div> {{vm.consOne}}<span class="score">&nbsp;</span></li>
							<li class="team team-bottom" ng-click="vm.makeBracketPick(14, vm.consTwo)"><div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.consTwo]}}"></div> {{vm.consTwo}}<span
									class="score">&nbsp;</span></li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top"
								style="color: #b36700"
								ng-class="{'pick-right': vm.bracketWinners.champ.indexOf(vm.bracketPicks[14]) !== -1, 'bracket-mismatch': vm.bracketMismatch(vm.consTwo, vm.bracketPicks[10], vm.bracketPicks[11])}"
							><div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[14]]}}"></div>{{vm.bracketPicks[14]}}<span class="score">&nbsp;</span>
							</li>
							<li class="cons-label" >3RD PLACE<span class="score">&nbsp;</span></li>
						</ul>
					</div>	<!-- END CONSOLATION -->		

					<div class="round champion">
						<i class="fa fa-trophy"></i>
						<div class="round-details">Championship<br/><span class="date">December 18</span></div>			
						<ul class="matchup">
							<li 
								class="team team-top" 
								ng-click="vm.makeBracketPick(15, vm.bracketPicks[12])"
								ng-class="{'pick-right': vm.bracketWinners.r4.indexOf(vm.bracketPicks[12]) !== -1}"
								><b><div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[12]]}}"></div>{{vm.bracketPicks[12]}}</b><span
									class="score">&nbsp;</span></li>
							<li 
								class="team team-bottom" 
								ng-click="vm.makeBracketPick(15, vm.bracketPicks[13])"
								ng-class="{'pick-right': vm.bracketWinners.r4.indexOf(vm.user.bracketSelections[0].picks[13]) !== -1}"
								><b><div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[13]]}}"></div>{{vm.bracketPicks[13]}}</b><span
									class="score">&nbsp;</span></li>
						</ul>
						<ul class="matchup">
							<li 
								class="team team-top" 
								style="color: #a38e44"
								ng-class="{'pick-right': vm.bracketWinners.champ.indexOf(vm.user.bracketSelections[0].picks[15]) !== -1}"
							><b><div class="flag-cont" style="margin-right: 3px"><img class="flag" src="{{vm.flags[vm.bracketPicks[15]]}}"></div>{{vm.bracketPicks[15]}}</b><span class="score">&nbsp;</span></li>
							<li class="champ-label"><b>CHAMPION</b><span class="score">&nbsp;</span></li>
						</ul>
					</div>	<!-- END CHAMPIONSHIP -->		
				</div>
		</div> 
	</div>
</div>

<loginReq ng-show="vm.isLoggedIn() == false" class="text-center col-xs-9 col-md-10">
  <div>
    Please <a ui-sref="home.ala.loginpop">login</a> to make your picks for this pool.
  </div>
</loginReq>

<loginReq ng-show="!vm.userLoggedInAndRegistered" class="text-center col-xs-9 col-md-10">
  <div ng-if="vm.isCurrentSystemYear">
    Please <a ui-sref="home.ala.pools">register for this pool</a> to make your picks.
  </div>
  <div ng-if="vm.isCurrentSystemYear === false">
    You did not participate in this pool.
  </div>
</loginReq>