<results class="col-xs-9 col-md-10 text-center">
  <subtabs class="row">
    <div class="col-xs-6" ng-class="{'active-subtab': $state.is('home.ala.wc18bracket.results.group-standings')}">
      <a ui-sref="home.ala.wc18bracket.results.group-standings">GROUP STANDINGS</a>
    </div>
    <div class="col-xs-6" ng-class="{'active-subtab': $state.is('home.ala.wc18bracket.results.games')}">
      <a ui-sref="home.ala.wc18bracket.results.games">GAMES</a>
    </div>
  </subtabs>
  <div class="row" ng-show="vm.currentUser() == 'mikeduin'">
    <a class="col-xs-3 col-xs-offset-2 btn btn-primary" ng-click="vm.calcGroups()">Calculate Group Points</a>
    <a class="col-xs-3 col-xs-offset-1 btn btn-primary" ng-click="vm.calcStandings()">Calculate Pool Standings</a>
  </div>
</results>

<div ui-view="games"></div>
<div ui-view="group-standings"></div>
