<div class="col-xs-9 col-md-10" ng-show="vm.userLoggedInAndRegistered">
  <div class="row">
    <div class="page-intro">
      Reorder the teams using the arrows next to each team to make your Group Stage picks, then click SAVE PICKS. From there, move to the Bracket Stage page to complete your entry. <b>Note that if you move to the Bracket Stage page without saving your edits, your edited picks will not be saved.</b> Picks will lock when the tournament begins.
    </div>
  </div>
  <div class="row submit-buttons">
    <button ng-click="vm.saveGroupPicks()" class="btn btn-lg btn-primary" ng-class="{disabled: !vm.inTime && !vm.isLateGroupUser}">SAVE PICKS</button>
  </div>
  <div ng-if="!vm.inTime && !vm.isLateGroupUser" class="row" style="display:flex; justify-content: center; color: #6a1c27"><i>Selections are now locked for {{vm.activeSeason}}.</i></div>
  <div class="row">
    <div class="group-grid" ui-sortable ng-model="vm.models.groups">
      <div ng-repeat="(groupName, group) in vm.models.groups" class="col-xs-6">
        <table class="table group-table table-striped">
          <thead>
            <tr>
              <th colspan="4" class="text-center">Group {{groupName}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="team in group">
              <td width="10%"><i ng-if="(vm.inTime && $index !== 0) || vm.isLateGroupUser" class="fas fa-arrow-up" ng-click="vm.moveUp(groupName, $index, team)"></i></td>
              <td width="10%"><i ng-if="(vm.inTime && $index !== 3) || vm.isLateGroupUser" class="fas fa-arrow-down" ng-click="vm.moveDown(groupName, $index, team)"></i></td>
              <td width="10%">{{$index + 1}}</td>
              <td width="60%"><div class="flag-cont"><img class="flag" src="{{vm.flags[team]}}"></div> <b>{{team}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<loginReq ng-show="!vm.isLoggedIn()" class="text-center col-xs-9 col-md-10">
  <div>
    Please <a ui-sref="home.ala.loginpop">login</a> to make your picks for this pool.
  </div>
</loginReq>

<loginReq ng-show="vm.userLoggedInAndRegistered === false" class="text-center col-xs-9 col-md-10">
  <div ng-if="vm.isCurrentSystemYear">
    Please <a ui-sref="home.ala.pools">register for this pool</a> to make your picks.
  </div>
  <div ng-if="!vm.isCurrentSystemYear">
    You did not participate in this pool.
  </div>
</loginReq>