<div class="simpleDemo col-xs-9 col-md-10">
  <div ng-repeat="(groupName, group) in vm.models.groups" class="col-md-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Group {{groupName}}</h3>
          </div>
          <ol dnd-group="group">
              <li ng-repeat="team in group"
                  dnd-draggable="team"
                  dnd-moved="group.splice($index, 1)"
                  dnd-effect-allowed="move"
                  dnd-selected="vm.models.selected = team"
                  ng-class="{'selected': vm.models.selected === team}"
                  >
                  {{team}}
              </li>
          </ol>
      </div>
  </div>
</div>
