<div class="col-xs-9 col-md-10" ng-init="vm.getUserData(); vm.getUsers()">
  <div class="row">
    <div class="col-xs-8">
      <div class="user-nameplate">{{vm.user.username}}'s Picks</div>
      <div><b>{{vm.user.nameFirst}} {{vm.user.nameLast}}</b></div>
    </div>
    <selectDiv class="col-xs-4">
      <select class="form-control" name="userSelect" ng-change="vm.userChange()" ng-model="vm.userFilter" ng-init="vm.getUsers()">
        <option value="">(select a user)</option>
        <option ng-repeat="user in vm.usernames" value="{{user}}"> {{user}} </option>
      </select>
    </selectDiv>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-bordered table-striped" id="user-group">
        <thead>
          <tr>
            <th colspan="5" class="text-center"> Group Selections </th>
          </tr>
          <tr>
            <th>Group</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, pick) in vm.user.groupSelections[0].groups">
            <td>{{name}}</td>
            <td ng-class="{correct: pick[0] === vm.actualStandings.groups[name][0]}">{{pick[0]}}</td>
            <td ng-class="{correct: pick[1] === vm.actualStandings.groups[name][1]}">{{pick[1]}}</td>
            <td ng-class="{correct: pick[2] === vm.actualStandings.groups[name][2]}">{{pick[2]}}</td>
            <td ng-class="{correct: pick[3] === vm.actualStandings.groups[name][3]}">{{pick[3]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <consolation class="user-cons">
    <ul class="round">
      <li class="game game-top" >{{vm.user.bracketSelections[0].consOne}}</li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"> {{vm.user.bracketSelections[0].consTwo}}</li>
      <li class="game game-bottom-label"></li>
    </ul>
    <ul class="round">
      <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.cons.indexOf(vm.user.bracketSelections[0].picks[14]) !== -1)}"> {{vm.user.bracketSelections[0].picks[14]}}</li>
      <li class="game game-bottom-label text-center">3RD PLACE</li>
    </ul>
  </consolation>
  <bracket class="row">
    <main id="tournament">
      <ul class="round round-1">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['A'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['A'][0]) == -1}">{{vm.user.groupSelections[0].groups['A'][0]}}</li>
        <li class="game game-top-label">Group A Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['B'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['B'][1]) == -1}">{{vm.user.groupSelections[0].groups['B'][1]}} </li>
        <li class="game game-bottom-label">Group B Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['C'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['C'][0]) == -1}">{{vm.user.groupSelections[0].groups['C'][0]}} </li>
        <li class="game game-top-label">Group C Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['D'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['D'][1]) == -1}">{{vm.user.groupSelections[0].groups['D'][1]}} </li>
        <li class="game game-bottom-label">Group D Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['E'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['E'][0]) == -1}">{{vm.user.groupSelections[0].groups['E'][0]}}</li>
        <li class="game game-top-label">Group E Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['F'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['F'][1]) == -1}">{{vm.user.groupSelections[0].groups['F'][1]}} </li>
        <li class="game game-bottom-label">Group F Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['G'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['G'][0]) == -1}">{{vm.user.groupSelections[0].groups['G'][0]}} </li>
        <li class="game game-top-label">Group G Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['H'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['H'][1]) == -1}">{{vm.user.groupSelections[0].groups['H'][1]}} </li>
        <li class="game game-bottom-label">Group H Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['B'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['B'][0]) == -1}">{{vm.user.groupSelections[0].groups['B'][0]}} </li>
        <li class="game game-top-label">Group B Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['A'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['A'][1]) == -1}">{{vm.user.groupSelections[0].groups['A'][1]}} </li>
        <li class="game game-bottom-label">Group A Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['D'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['D'][0]) == -1}">{{vm.user.groupSelections[0].groups['D'][0]}} </li>
        <li class="game game-top-label">Group D Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['C'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['C'][1]) == -1}">{{vm.user.groupSelections[0].groups['C'][1]}} </li>
        <li class="game game-bottom-label">Group C Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['F'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['F'][0]) == -1}">{{vm.user.groupSelections[0].groups['F'][0]}} </li>
        <li class="game game-top-label">Group F Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['E'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['E'][1]) == -1}">{{vm.user.groupSelections[0].groups['E'][1]}} </li>
        <li class="game game-bottom-label">Group E Runner-Up</li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['H'][0]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['H'][0]) == -1}">{{vm.user.groupSelections[0].groups['H'][0]}} </li>
        <li class="game game-top-label">Group H Winner</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': vm.advancing.indexOf(vm.user.groupSelections[0].groups['G'][1]) !== -1, 'pick-wrong': vm.advancing.indexOf(vm.user.groupSelections[0].groups['G'][1]) == -1}">{{vm.user.groupSelections[0].groups['G'][1]}} </li>
        <li class="game game-bottom-label">Group G Runner-Up</li>

        <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-2">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[0]) !== -1)}"> {{vm.user.bracketSelections[0].picks[0]}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[1]) !== -1)}"> {{vm.user.bracketSelections[0].picks[1]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[2]) !== -1)}"> {{vm.user.bracketSelections[0].picks[2]}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[3]) !== -1)}"> {{vm.user.bracketSelections[0].picks[3]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[4]) !== -1)}"> {{vm.user.bracketSelections[0].picks[4]}}</li>
        <li class="game game-spacer" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[5]) !== -1)}">&nbsp;</li>
        <li class="game game-bottom"> {{vm.user.bracketSelections[0].picks[5]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[6]) !== -1)}"> {{vm.user.bracketSelections[0].picks[6]}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': (vm.bracketWinners.r16.indexOf(vm.user.bracketSelections[0].picks[7]) !== -1)}"> {{vm.user.bracketSelections[0].picks[7]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-3">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r8.indexOf(vm.user.bracketSelections[0].picks[8]) !== -1)}"> {{vm.user.bracketSelections[0].picks[8]}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom " ng-class="{'pick-right': (vm.bracketWinners.r8.indexOf(vm.user.bracketSelections[0].picks[9]) !== -1)}"> {{vm.user.bracketSelections[0].picks[9]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r8.indexOf(vm.user.bracketSelections[0].picks[10]) !== -1)}"> {{vm.user.bracketSelections[0].picks[10]}}</li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': (vm.bracketWinners.r8.indexOf(vm.user.bracketSelections[0].picks[11]) !== -1)}"> {{vm.user.bracketSelections[0].picks[11]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-4">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top" ng-class="{'pick-right': (vm.bracketWinners.r4.indexOf(vm.user.bracketSelections[0].picks[13]) !== -1)}">{{vm.user.bracketSelections[0].picks[12]}} </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" ng-class="{'pick-right': (vm.bracketWinners.r4.indexOf(vm.user.bracketSelections[0].picks[14]) !== -1)}"> {{vm.user.bracketSelections[0].picks[13]}}</li>
        <li class="game game-bottom-label"></li>

        <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-5">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top " ng-class="{'pick-right': (vm.bracketWinners.champ.indexOf(vm.user.bracketSelections[0].picks[15]) !== -1)}"> {{vm.user.bracketSelections[0].picks[15]}}</li>
        <li class="game game-bottom-label text-center">CHAMPION</li>
        <li class="spacer">&nbsp;</li>
      </ul>
    </main>
  </bracket>
</div>
