<div class="col-xs-3 group-box">
  <div class="team">
    Team 1
  </div>
  <div class="team">
    Team 2
  </div>
</div>

<div class="simpleDemo row">
    <div class="col-md-8">
        <div class="row">
            <div ng-repeat="(groupName, group) in vm.models.groups" class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{groupName}}</h3>
                    </div>
                    <ol dnd-group="group">
                        <li ng-repeat="team in group"
                            dnd-draggable="team"
                            dnd-moved="group.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="vm.models.selected = team"
                            ng-class="{'selected': vm.models.selected === team}"
                            >
                            {{team}}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
