<careerData class="col-xs-9 col-md-10">
  <blog class="col-xs-12">
    <div class="text-center">
      <hr style="margin-bottom: -5px;" class="col-xs-4 col-xs-offset-4">
      <div class="col-xs-12">
        <p style="margin-bottom: -20px">
          <i class="fa fa-database" aria-hidden="true"></i>
          The ALAdb
          <i class="fa fa-database" aria-hidden="true"></i>
        </p>
        <div class="career-subhead">
          100,000+ unique sortable results.
        </div>
      </div>
      <hr class="col-xs-4 col-xs-offset-4">
    </div>
  </blog>
</careerData>

<divView ui-view="search"> </divView>
<divView ui-view="add"> </divView>
