<div class="col-xs-9 col-md-10 text-center" ng-init="vm.getEntrants()">
  <search class="col-xs-4">
    Search by
    <filter>
      Entrant
    </filter>
    <select ng-model="vm.sel_entrant" ng-options="entrant.name for entrant in vm.entrants" ng-init="vm.sel_entrant = vm.entrants[0]">
    </select>
  </search>
  <search class="col-xs-4 grid-cen">
    Search by
    <filter>
      Game
    </filter>
    <select ng-model="vm.sel_game">
      <option selected value="">(all games)</option>
      <option ng-repeat="game in vm.games">{{game}}</option>
    </select>
  </search>
  <search class="col-xs-4">
    Search by
    <filter>
      Year
    </filter>
    <select ng-model="vm.sel_year">
      <option selected value="">(all years)</option>
      <option ng-repeat="year in vm.years">{{year}}</option>
    </select>
  </search>
</div>
