<podium class="col-xs-10">
  <table class="col-xs-12">
    <thead>
      <tr>
        <th class="text-center podium"> Year </th>
        <th class="podium"> 1st Place </th>
        <th class="podium"> 2nd Place </th>
        <th class="podium"> 3rd Place </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="results in vm.fifaBracket" class="podium">
        <td style="font-size: 18px" class="text-center podium">
          <i> {{results.season}} </i>
        </td>
        <td class="podium">
          <team> {{results.first_team}}</team> <span ng-if="results.first_owner"> ({{results.first_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.second_team}}</team> <span ng-if="results.first_owner"> ({{results.second_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.third_team}}</team> <span ng-if="results.first_owner"> ({{results.third_owner}}) </span>
        </td>
      </tr>
    </tbody>
  </table>
  <info class="col-xs-10 col-xs-offset-1 bracket-info">
    The 2014 World Cup Bracket Pool was a $20 buy-in game of 34 entrants, run through ESPN's 'World Cup Bracket Predictor' game. The official pool page and its final standings have apparently been wiped from the nether regions of ESPN.com in the years since, but both their game and our pool will be back in 2018.
  </info>
</podium>
