<podium class="col-xs-9 col-md-10">
  <table class="col-xs-12">
    <thead>
      <tr>
        <th class="text-center podium"> Year </th>
        <th class="podium"> 1st Place </th>
        <th class="podium"> 2nd Place </th>
        <th class="podium"> 3rd Place </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="results in vm.fifaBracket" class="podium">
        <td style="font-size: 18px" class="text-center podium">
          <i> {{results.season}} </i>
        </td>
        <td class="podium">
          <team> {{results.first_team}}</team> <span ng-if="results.first_owner"> ({{results.first_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.second_team}}</team> <span ng-if="results.first_owner"> ({{results.second_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.third_team}}</team> <span ng-if="results.first_owner"> ({{results.third_owner}}) </span>
        </td>
      </tr>
    </tbody>
  </table>
  <info class="col-xs-10 col-xs-offset-1 bracket-info">
    In 2018, ALA launched a FIFA World Cup Bracket Pool as its own original product, complete with a proprietary scoring system, detailed pool reporting, and an impressive field of entrants. Head on over to the World Cup Bracket Pool's <a ui-sref='home.ala.wc18bracket.howtoplay' target='blank'>How to Play</a> page to learn more.
  </info>
</podium>
