<podium class="col-md-10">
  <table class="col-md-12">
    <thead>
      <tr>
        <th class="text-center podium"> Year </th>
        <th class="podium"> 1st Place </th>
        <th class="podium"> 2nd Place </th>
        <th class="podium"> 3rd Place </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="results in vm.fifaBtb" class="podium">
        <td style="font-size: 18px" class="text-center podium">
          <i> {{results.season}} </i>
        </td>
        <td class="podium">
          <team> {{results.first_team}}</team> <span ng-if="results.first_owner"> ({{results.first_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.second_team}}</team> <span ng-if="results.first_owner"> ({{results.second_owner}}) </span>
        </td>
        <td class="podium">
          <team> {{results.third_team}}</team> <span ng-if="results.first_owner"> ({{results.third_owner}}) </span>
        </td>
      </tr>
    </tbody>
  </table>
  <info class="col-md-10 col-md-offset-1 bracket-info">
    <p>
      Battle the Bookies made its ALA debut for the 2014 FIFA World Cup after the Commish came up with the idea for the game as yet another fun way to follow the tournament. The game's premise requires each entrant to make a theoretical $100 bet on each World Cup game. That fake $100 bet can be made one of three ways: on either team's moneyline (their odds of winning the game outright), on the match ending in a draw, or on over or under the line for the total number of goals scored in the game. If your bet wins, your game score is credited with the payout amount that was specified when you made your bet; if your bet loses, your game score is docked -$100. The standings are then sorted by each entrant's overall total.
    </p>
    <p>
      Battle the Bookies was a rousing success in its first incarnation, with 20 entrants ponying up a $30 buy-in to play a game that was, at the time, a completely foreign concept.
    </p>
    <p>
      Below you will find an embedded worksheet detailing showing the pool results from the 2014 game. As always, due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/1DLME6RyIXuIoYowQ7K0EmUYPajEQQuXlHTOjp16W8Vs/edit#gid=867273349" target="_blank">click here</a> to open the full version of the spreadsheet in its own separate window, as its much easier to read that way.
    </p>
  </info>
  <iframe height="700" width="96%" style="margin-left: 2%" src="https://docs.google.com/spreadsheets/d/1DLME6RyIXuIoYowQ7K0EmUYPajEQQuXlHTOjp16W8Vs/pubhtml?widget=true&amp;headers=false"></iframe>
</podium>
