<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> Every four years, the world unites in a fit of collective passion for the beautiful game, and A Level Above unites to gamble on it. ALA offers three distinct games during the World Cup: a custom-built Bracket Pool, a World Cup version of our popular Battle the Bookies game, and an NFL-style Survivor Pool. Click the headers above to learn more.
        </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> Varies by game </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
