<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> Every four years, the world unites in a fit of collective passion for the most beautiful game, and A Level Above unites to gamble on it however we possibly can. ALA offers three distinct games during the World Cup. Battle the Bookies was originally dreamt up as a pool for the World Cup and made its ALA debut as such a game in 2014 (its popularity then led to it being adapted as an annual NFL pool); also available for entry are a traditional bracket pool and an NFL-style Survivor Pool, in which an entrant must select one team each day of the tournament who must not lose to advance to the next day. Click the links above to learn more about each game and see past results. </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> Varies by game </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
