<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle" style="color: #21a840">
    <p> FIFA World Cup </p>
  </div>
  <div class="col-xs-12" style="margin-bottom: 8px; font-size: 1.2vw"><i>ALA's 2022 <span style="color: #305032"><b>World Cup Pools</b></span> are now open for entry!</i> <br/><b><a href="https://www.alabattlethebookies.com/worldcup" target="_blank">World Cup Battle the Bookies</a></b> | <b><a ui-sref="home.ala.wc18bracket.howtoplay">World Cup Bracket Pool</a></b> <br/> Stay tuned for World Cup Survivor details.</div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.fifa.details" ng-class="{'activetab': $state.includes('home.ala.fifa.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.fifa.rankings" ng-class="{'activetab': $state.includes('home.ala.fifa.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.fifa.survivor" ng-class="{'activetab': $state.includes('home.ala.fifa.survivor')}"> Survivor</a> </li>
    <li> <a ui-sref="home.ala.fifa.btb" ng-class="{'activetab': $state.includes('home.ala.fifa.btb')}"> Battle the Bookies</a> </li>
    <li> <a ui-sref="home.ala.fifa.bracket" ng-class="{'activetab': $state.includes('home.ala.fifa.bracket')}"> Bracket Pool</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="survivor"> </div>
<div ui-view="bracket"> </div>
<div ui-view="btb"> </div>
<div ui-view="auction"> </div>
