<gameDetails class="col-xs-9 col-md-10">
  <table>
    <thead>
      <tr>
        <th class="col-xs-3"></th>
        <th class="col-xs-9 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="summary text-right" style="padding-top:0px"> What's the Deal?</td>
        <td class="details text-left" style="padding-top:0px"> It's tough to top the excitement-to-simplicity ratio of an <b>NFL Survivor</b> Pool. The concept seems easy: each entrant must pick a single straight-up winner of an NFL game each week during the season ... for as long as you survive. If the team you pick wins (or ties), you advance to the next week and pick again; if the team you pick loses, you're out of the pool. The rub is that once you pick a team to win, you cannot select that team again for the remainder of the season. Last entrant standing gets the loot.   </td>
      </tr>
      <tr>
        <td class="summary text-right"> Entry </td>
        <td class="details text-left"> Open to All </td>
      </tr>
      <tr>
        <td class="summary text-right"> Buy-in </td>
        <td class="details text-left"> $55 per entry. At any time during the pool, the remaining entrants are free to 'chop' or divide all or a portion of the prize pool if they can agree on terms (this happens more often than not). </td>
      </tr>
      <tr>
        <td class="summary text-right"> League Homepage </td>
        <td class="details text-left"> <a href="http://alasurvivor16.football.cbssports.com/" target="_blank"><b>http://alasurvivor16.football.cbssports.com </b></a> (pool entrants only) </td>
      </tr>
    </tbody>
  </table>
</gameDetails>
