<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle">
    <p> NFL Survivor </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> Brendan Hopps (2019)
      </div>
      <!-- <div class="join-pool">
        !-- <b><a href="http://alanflsurvivor18.football.cbssports.com/e/d9a9dbb6569019506f1df40287723303e4106561ce179a2f57f37c862f05cc65?ttag=FFBC18_cpy_invite_new_mt" target="_blank">Click here</a> to join the 2018 NFL Survivor Pool!</b> --!
      </div> -->
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.survivor.details" ng-class="{'activetab': $state.includes('home.ala.survivor.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.survivor.rankings" ng-class="{'activetab': $state.includes('home.ala.survivor.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.survivor.winners" ng-class="{'activetab': $state.includes('home.ala.survivor.winners')}"> Prize Winners</a> </li>
    <li> <a ui-sref="home.ala.survivor.yoy" ng-class="{'activetab': $state.includes('home.ala.survivor.yoy')}"> YoY Progression</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="winners"> </div>
<div ui-view="rankings"> </div>
<div ui-view="yoy"> </div>
