<gameTitle class="col-md-10 text-center">
  <hr class="col-md-4 col-md-offset-4">
  <div class="col-md-12 gameTitle">
    <p> NFL Survivor </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> Jaime Trevino
      </div>
    </defending>
  </div>
  <hr class="col-md-4 col-md-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.survivor.details" ng-class="{'activetab': $state.includes('home.ala.survivor.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.survivor.winners" ng-class="{'activetab': $state.includes('home.ala.survivor.winners')}"> Prize Winners</a> </li>
    <li> <a ui-sref="home.ala.survivor.yoy" ng-class="{'activetab': $state.includes('home.ala.survivor.yoy')}"> YoY Progression</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="rankings"> </div>
<div ui-view="yoy"> </div>
