<gameTitle class="col-xs-9 col-md-10 text-center">
  <hr class="col-xs-4 col-xs-offset-4">
  <div class="col-xs-12 gameTitle" style="color: #c63231">
    <img class="game-logo" src='https://s3.us-west-2.amazonaws.com/mikeduin.com/logo_nfl_survivor_big_transparent.png' />
    <p> NFL Survivor </p>
  </div>
  <div>
    <defending>
      <div>
        <span> <b> Defending Champ: </b> </span> <i class="fa fa-trophy" aria-hidden="true"></i> <span style="color: #c63231"><b>Drew Prince</b></span> (2023)
      </div>
      <!-- <div class="join-pool" style="color: #c63231">
        !-- <b><a href="http://alanflsurvivor21.football.cbssports.com/e/d9a9dbb656901950a9c08d36ba8ab895cc257a0341742220a56e61945c6e0853?ttag=FFBC21_cpy_invite_new_mt" target="_blank">Click here</a> to join the 2021 NFL Survivor Pool!</b> --!
      </div> -->
    </defending>
  </div>
  <hr class="col-xs-4 col-xs-offset-4">
</gameTitle>

<gameNav class="text-center">
  <ul>
    <li> <a ui-sref="home.ala.survivor.details" ng-class="{'activetab': $state.includes('home.ala.survivor.details')}"> Details</a> </li>
    <li> <a ui-sref="home.ala.survivor.rankings" ng-class="{'activetab': $state.includes('home.ala.survivor.rankings')}"> All-Time Rankings</a> </li>
    <li> <a ui-sref="home.ala.survivor.winners" ng-class="{'activetab': $state.includes('home.ala.survivor.winners')}"> Prize Winners</a> </li>
    <li> <a ui-sref="home.ala.survivor.yoy" ng-class="{'activetab': $state.includes('home.ala.survivor.yoy')}"> Prize Progression</a> </li>
  </ul>
</gameNav>

<div ui-view="details"> </div>
<div ui-view="winners"> </div>
<div ui-view="rankings"> </div>
<div ui-view="yoy"> </div>