<rankings class="col-xs-10">
  <p>
    Below you will find the current All-Time Rankings for the NFL Survivor Pool. Due to the constraints of embedded Google Sheets (e.g., an inability to freeze rows/columns or zoom out within the workbook), it is <b>highly</b> recommended that you <a href="https://docs.google.com/spreadsheets/d/1U8qr1k2j05bzzwMBXVCfFevsgcbZKOWPjoaa8hc1JX8/edit?usp=sharing" target="_blank">click here</a> to open the full version of the rankings in their own separate window, as they are much easier to read that way. Within the file, there is a main left-hand section showing career stats, and as you scroll right you will see each entrant's results for each season.
  </p>
  <p>
    <b> Ranking Methodology</b>: Entrants are ranked first by number of cashes and then by total net profits. Entrants with no cashes are given an identical ranking regardless of net profits so as not to penalize participation.
  </p>

  <iframe height="800" width="96%" style="margin-left: 2%" src="https://docs.google.com/spreadsheets/d/1U8qr1k2j05bzzwMBXVCfFevsgcbZKOWPjoaa8hc1JX8/pubhtml?widget=true&amp;headers=false"></iframe>
</rankings>
